<div ng-controller="AccountController">
	<br>
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">Account</div>
				<div class="panel-body">
					<fieldset ng-disabled="!user.access.admin">
						<div class="form-group">
							<label class="control-label">Name</label>
							<input class="form-control" ng-model="merchant.name" type="text" ng-pattern="patterns.namePattern" required />
						</div>
					</fieldset>
					<fieldset disabled>
						<div class="form-group">
							<label class="control-label">Email</label>
							<input class="form-control" value="{{merchant.email}}" />
						</div>
						<div class="form-group">
							<label class="control-label">Mobile</label>
							<input class="form-control" value="{{merchant.mobile}}" />
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-12 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Address</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label">Address Line 1</label>
						<input class="form-control" ng-model="merchant.address.addressLine1" />
					</div>
					<div class="form-group">
						<label class="control-label">Address Line 2</label>
						<input class="form-control" ng-model="merchant.address.addressLine2" />
					</div>
					<div class="form-group col-xs-12 col-md-6 col-lg-6">
						<label class="control-label">City</label>
						<input class="form-control" ng-model="merchant.address.city" />
					</div>
					<div class="form-group col-xs-12 col-md-6 col-lg-6">
						<label class="control-label">District</label>
						<input class="form-control" ng-model="merchant.address.district" />
					</div>
					<div class="form-group col-xs-12 col-md-6 col-lg-6">
						<label class="control-label">State</label>
						<input class="form-control" ng-model="merchant.address.state" />
					</div>
					<div class="form-group col-xs-12 col-md-6 col-lg-6">
						<label class="control-label">Pincode</label>
						<input class="form-control" ng-model="merchant.address.pincode" />
					</div>
					<div class="form-group">
						<label class="control-label">Country</label>
						<input class="form-control" ng-model="merchant.address.country" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row panel panel-body">
		<button ng-click="updateAccount()" class="btn btn-info">Save</button>
	</div>
</div>