<div ng-controller="ManageController" ng-init="fetchConsumers()">
	<br>
	<div ng-if="user.access.finance" class="row">
		<div class="col-sm-2 col-sm-offset-9">
			<button title="Create Consumer" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createConsumerModal">
				<i class="fa fa-plus"></i> Consumer
			</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-responsive">
				<thead>
					<tr>
						<td class="text-center"><strong>Name</strong></td>
						<td class="text-center hidden-xs"><strong>Email</strong></td>
						<td class="text-center hidden-xs"><strong>Mobile</strong></td>
						<td class="text-center hidden-xs"><strong>Created By</strong></td>
						<td class="text-center hidden-xs"><strong>Created</strong></td>
					</tr>
					<tr>
						<td><input type="text" class="form-control" ng-model="conquery.name" placeholder="search name"></input></td>
						<td class="hidden-xs"><input type="text" class="form-control" ng-model="conquery.email" placeholder="search email"></input></td>
						<td class="hidden-xs"><input type="text" class="form-control" ng-model="conquery.mobile" placeholder="search mobile"></input></td>
						<td class="hidden-xs"><input type="text" class="form-control" ng-model="conquery.createdBy" placeholder="search created by"></input></td>
						<td class="hidden-xs"></td>
					</tr>
				</thead>
				<tbody ng-repeat="consumer in consumerList | filter: conquery">
					<tr
						ng-class="(consumer.active)?'success':'warning'"
						data-toggle="collapse"
						data-target="#condetails-{{consumer.id}}"
						class="accordion-toggle">
						<td class="text-center">{{consumer.name}}</td>
						<td class="text-center hidden-xs">{{consumer.email}}</td>
						<td class="text-center hidden-xs">{{consumer.mobile}}</td>
						<td class="text-center hidden-xs">{{consumer.createdBy}}</td>
						<td class="text-center hidden-xs">{{consumer.created | date:'dd-MM-yyyy'}}</td>
					</tr>
					<tr>
						<td colspan="12" style="padding: 0px; border: 0px;">
							<div style="padding:10px;" class="accordion-body collapse" id="condetails-{{consumer.id}}">
								<div class="row">
									<div class="col-md-12">
										<button title="Add Invoice" type="button"
											class="btn btn-info btn-md hidden-xs"
											ng-if="user.access.finance"
											ng-click="updateInvoiceConsumer(consumer)"
											data-toggle="modal"
											data-target="#createInvoiceModal">
											<i class="fa fa-plus"></i>
										</button>
										<button title="Add Invoice" type="button"
											class="btn btn-info btn-md visible-xs-inline"
											ng-if="user.access.finance"
											ng-click="updateInvoiceConsumer(consumer)"
											data-toggle="modal"
											data-target="#createInvoiceXsModal">
											<i class="fa fa-plus"></i>
										</button>
										<button title="Search Invoice" type="button"
											class="btn btn-success btn-md"
											ng-click="seachConInvoice(consumer)"
											data-target="#invoiceTab"
											data-toggle="tab">
											<i class="fa fa-search"></i>
										</button>
										<a href="#" ng-click="$parent.editConPrefs = !$parent.editConPrefs" ng-if="user.access.finance">
											<span class="btn btn-danger glyphicon glyphicon-edit"></span>
										</a>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6">
										<h5>Consumer Settings</h5>
										<fieldset ng-disabled="!editConPrefs">
											<table class="table table-striped table-bordered table-responsive">
												<tbody>
													<tr>
														<td><strong>Organization</strong></td>
														<td><input class="form-control" ng-model="consumer.organization"/></td>
													</tr>
													<tr>
														<td><strong>Email On Pay</strong></td>
														<td><input ng-model="consumer.emailOnPay" type="checkbox"/></td>
													</tr>
													<tr>
														<td><strong>Email On Refund</strong></td>
														<td><input ng-model="consumer.emailOnRefund" type="checkbox"/></td>
													</tr>
													<tr>
														<td><strong>Active</strong></td>
														<td><input ng-model="consumer.active" type="checkbox"/></td>
													</tr>
												</tbody>
											</table>
										</fieldset>
									</div>
									<div class="col-lg-6">
										<h5>Address</h5>
										<fieldset ng-disabled="!editConPrefs">
											<table class="table table-striped table-bordered table-responsive">
												<tbody>
													<tr>
														<td><strong>Address Line 1</strong></td>
														<td><input class="form-control" ng-model="consumer.address.addressLine1"/></td>
													</tr>
													<tr>
														<td><strong>Address Line 2</strong></td>
														<td><input class="form-control" ng-model="consumer.address.addressLine2"/></td>
													</tr>
													<tr>
														<td><strong>City</strong> : <input class="form-control" ng-model="consumer.address.city"/></td>
														<td><strong>Disctrict</strong> : <input class="form-control" ng-model="consumer.address.district"/></td>
													</tr>
													<tr>
														<td><strong>State</strong> : <input class="form-control" ng-model="consumer.address.state"/></td>
														<td><strong>Pincode</strong> : <input class="form-control" ng-model="consumer.address.pincode"/></td>
													</tr>
													<tr>
														<td><strong>Country</strong></td>
														<td><input class="form-control" ng-model="consumer.address.country"/></td>
													</tr>
												</tbody>
											</table>
										</fieldset>
									</div>
									<div class="col-lg-6">
										<button type="button" ng-click="updateConsumer(consumer)" class="btn btn-info">Save</button>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>