<div ng-controller="ManageController" ng-init="fetchConsumers()">
	<br>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-9">
			<button title="Create Consumer" type="button" class="btn btn-info btn-circle btn-lg" data-toggle="modal" data-target="#createConsumerModal">
				<i class="fa fa-plus"></i>
			</button>
		</div>
	</div>
	<br>
	<div class="row text-center">
		<div class="col-md-10 col-md-offset-1">
			<h4>My Consumers</h4>
			<table class="table table-bordered table-responsive">
				<thead>
					<tr>
						<td class="text-center"><strong>Name</strong></td>
						<td class="text-center hidden-xs"><strong>Email</strong></td>
						<td class="text-center hidden-xs"><strong>Mobile</strong></td>
						<td class="text-center hidden-xs"><strong>Created By</strong></td>
						<td class="text-center hidden-xs"><strong>Created</strong></td>
						<td class="text-center"><strong>Invoice</strong></td>
					</tr>
				</thead>
				<tbody id="itemBody">
					<tr ng-repeat="consumer in consumerList"
						data-toggle="collapse"
						data-target="#condetails-{{consumer.id}}"
						class="accordion-toggle">
						<td class="text-center">{{consumer.name}}</td>
						<td class="text-center hidden-xs">{{consumer.email}}</td>
						<td class="text-center hidden-xs">{{consumer.mobile}}</td>
						<td class="text-center hidden-xs">{{consumer.createdBy}}</td>
						<td class="text-center hidden-xs">{{consumer.created | date:'dd-MM-yyyy'}}</td>
						<td class="text-center">
							<button title="Add Invoice" type="button"
								class="btn btn-info btn-circle btn-md hidden-xs"
								ng-if="user.access.finance"
								ng-click="updateInvoiceConsumer(consumer)"
								data-toggle="modal"
								data-target="#createInvoiceModal">
								<i class="fa fa-plus"></i>
							</button>
							<button title="Add Invoice" type="button"
								class="btn btn-info btn-circle btn-md visible-xs-inline"
								ng-if="user.access.finance"
								ng-click="updateInvoiceConsumer(consumer)"
								data-toggle="modal"
								data-target="#createInvoiceXsModal">
								<i class="fa fa-plus"></i>
							</button>
							<button title="Search Invoice" type="button"
								class="btn btn-success btn-circle btn-md"
								ng-click="seachConInvoice(consumer)"
								data-target="#invoiceTab"
								data-toggle="tab">
								<i class="fa fa-search"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>