<div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading"> Payment Setting
					<a ng-if="user.access.finance" href="#" ng-click="$parent.editPayPrefs = !$parent.editPayPrefs">
						<span class="btn glyphicon glyphicon-edit" style="float: right; padding: 0px;"></span>
					</a>
				</div>
				<div class="panel-body">
					<fieldset ng-disabled="!editPayPrefs">
						<div class="form-group">
							<label class="control-label" for="set-rzpmi">RazorPay Merchant Id</label>
							<input class="form-control" id="set-rzpmi" ng-model="merchant.paymentSetting.rzpMerchantId" />
						</div>
						<div class="form-group">
							<label class="control-label" for="set-rzpki">RazorPay Key Id</label>
							<input class="form-control" id="set-rzpki" ng-model="merchant.paymentSetting.rzpKeyId" />
						</div>
						<div class="form-group">
							<label class="control-label" for="set-rzpsi">RazorPay Secret Id</label>
							<input class="form-control" id="set-rzpsi" ng-model="merchant.paymentSetting.rzpSecretId" />
						</div>
					</fieldset>
					<div ng-if="user.access.finance">
						<button ng-click="savePaymentSetting()" class="btn btn-info">Save</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">Invoice Preference</div>
				<div class="panel-body">
					<fieldset ng-disabled="!user.access.finance">
						<input type="checkbox" ng-model="merchant.invoiceSetting.sendEmail">&nbsp;<strong>Send Email</strong><br>
						<input type="checkbox" ng-model="merchant.invoiceSetting.sendSms">&nbsp;<strong>Send Sms</strong><br>
						<br>
						<div class="form-group">
							<label class="control-label" for="set-expiry">Expiry Days</label>
							<input class="form-control" ng-model="merchant.invoiceSetting.expiryDays" type="number" required />
						</div>
						<div class="form-group">
							<label class="control-label" for="set-expiry">Tax %</label>
							<input class="form-control" ng-model="merchant.invoiceSetting.tax" type="number" required />
						</div>
					</fieldset>
					<div ng-if="user.access.finance">
						<button ng-click="saveInvoiceSetting(merchant.invoiceSetting)" class="btn btn-info">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading"> Custom Params
					<span style="float: right; margin-top: -5px;">
						<button ng-if="user.access.finance" type="button" class="btn btn-info btn-circle btn-md" data-toggle="modal" data-target="#createParamModal">
							<i class="fa fa-plus"></i>
						</button>
					</span>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-bordered table-hover table-responsive">
						<thead>
							<tr>
								<th>Param Name</th>
								<th>Provider</th>
								<th ng-if="user.access.finance">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="param in merchant.invoiceSetting.customParams">
								<td>{{param.paramName}}</td>
								<td>{{param.provider}}</td>
								<td ng-if="user.access.finance">
									<button ng-click="deleteParam(param.id, param.paramName)" style="margin-top: -5px;" type="button" class="btn btn-danger btn-xs">
										<i class="fa fa-minus"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>