<div ng-controller="InvoiceSettingController">
	<br>
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading"> Payment Setting
					<a href="#" ng-click="$parent.editPayPrefs = !$parent.editPayPrefs">
						<span class="btn glyphicon glyphicon-edit" style="float: right; padding: 0px;"></span>
					</a>
				</div>
				<div class="panel-body">
					<fieldset ng-disabled="!editPayPrefs">
						<div class="form-group">
							<label class="control-label">RazorPay Merchant Id</label>
							<input class="form-control" ng-model="merchant.paymentSetting.rzpMerchantId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Key Id</label>
							<input class="form-control" ng-model="merchant.paymentSetting.rzpKeyId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Secret Id</label>
							<input class="form-control" ng-model="merchant.paymentSetting.rzpSecretId" />
						</div>
						<div>
							<button ng-click="savePaymentSetting(merchant.paymentSetting)" class="btn btn-info">Save</button>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"> Custom Params
					<span style="float: right; margin-top: -5px;">
						<button type="button" class="btn btn-info btn-circle btn-md" data-toggle="modal" data-target="#createParamModal">
							<i class="fa fa-plus"></i>
						</button>
					</span>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-bordered table-hover table-responsive">
						<thead>
							<tr>
								<th>Param Name</th>
								<th>Provider</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="param in merchant.invoiceSetting.customParams">
								<td>{{param.paramName}}</td>
								<td>{{param.provider}}</td>
								<td>
									<button ng-click="deleteParam(param.id, param.paramName)" style="margin-top: -5px;" type="button" class="btn btn-danger btn-xs">
										<i class="fa fa-times"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Invoice Preference</div>
				<div class="panel-body">
					<table class="table table-striped table-bordered table-hover table-responsive">
						<tr>
							<td>Send Email</td>
							<td><input type="checkbox" ng-model="merchant.invoiceSetting.sendEmail"></td>
						</tr>
						<tr>
							<td>Send Sms</td>
							<td><input type="checkbox" ng-model="merchant.invoiceSetting.sendSms"></td>
						</tr>
						<tr>
							<td>Add Items</td>
							<td><input type="checkbox" ng-model="merchant.invoiceSetting.addItems"></td>
						</tr>
						<tr>
							<td>CC Me</td>
							<td><input type="checkbox" ng-model="merchant.invoiceSetting.ccMe"></td>
						</tr>
						<tr>
							<td>Expiry Days</td>
							<td><input class="form-control" ng-model="merchant.invoiceSetting.expiryDays" type="number" required /></td>
						</tr>
						<tr>
							<td>Tax Name</td>
							<td><input class="form-control" ng-model="merchant.invoiceSetting.taxName" required /></td>
						</tr>
						<tr>
							<td>Tax Value %</td>
							<td><input class="form-control" ng-model="merchant.invoiceSetting.taxValue" type="number" required /></td>
						</tr>
						<tr>
							<td>Email Subject</td>
							<td><input class="form-control" ng-model="merchant.invoiceSetting.emailSubject" required /></td>
						</tr>
						<tr>
							<td>Email Note</td>
							<td><input class="form-control" ng-model="merchant.invoiceSetting.emailNote" required /></td>
						</tr>
					</table>
					<div>
						<button ng-click="saveInvoiceSetting(merchant.invoiceSetting)" class="btn btn-info">Save</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Banner (80x80) </label>
				<input class="form-control" ng-model="merchant.invoiceSetting.banner" type="file" required />
			</div>
		</div>
	</div>
</div>