<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link href="${staticUrl}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="${staticUrl}/dist/css/sb-admin-2.css" rel="stylesheet"> -->
    <link href="${staticUrl}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="${staticUrl}/dist/css/AdminLTE.min.css">
  	<link rel="stylesheet" href="${staticUrl}/dist/css/skins/_all-skins.min.css">
    <link href="${staticUrl}/vendor/angular/angular-material.min.css" rel="stylesheet">
    <script src="${staticUrl}/vendor/jquery/jquery.min.js"></script>
    <script src="${staticUrl}/vendor/angular/angular.js"></script>
	<script src="${staticUrl}/vendor/angular/angular-route.js"></script>
	<script src="${staticUrl}/vendor/angular/angular-cookies.js"></script>
	<script src="${staticUrl}/vendor/angular/angular-animate.min.js"></script>
  	<script src="${staticUrl}/vendor/angular/angular-aria.min.js"></script>
  	<script src="${staticUrl}/vendor/angular/angular-messages.min.js"></script>
  	<script src="${staticUrl}/vendor/angular/angular-material.min.js"></script>
	<script src="/angular/merchant/merchant-ctrl.js"></script>
	<script src="/angular/common/dashboard-ctrl.js"></script>
	<script src="/angular/merchant/invoice-ctrl.js"></script>
	<script src="/angular/common/payment-ctrl.js"></script>
	<script src="/angular/merchant/manage-ctrl.js"></script>
	<script src="/angular/merchant/invoice-setting-ctrl.js"></script>
	<script src="/angular/merchant/account-ctrl.js"></script>
	<script src="/angular/common/reports-ctrl.js"></script>
	<script src="/angular/merchant/pricing-ctrl.js"></script>
	<script src="/angular/common/users-ctrl.js"></script>
	<!-- <script src="/angular/common/my-invoices-ctrl.js"></script> -->
	<script src="/angular/common/profile-ctrl.js"></script>
	<style> 
	.md-datepicker-calendar-pane{
		z-index: 1200
	}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="payCrMerchantApp" ng-controller="MerchantController" ng-cloak>
    <div ng-init="prepare()" class="wrapper" id="wrapper">
        <div ng-include="templateUrl('merchant','nav')"></div>
        <div class="tab-content bordered content-wrapper" id="page-wrapper">
        	<div ng-include="templateUrl('common','alert')"></div>
        	<div ng-if="user.access.admin" id="dashboardTab" class="tab-pane active" ng-include="templateUrl('common','dashboardTab')"></div>
	        <div ng-class="(user.access.admin)?'':'active'" id="invoiceTab" class="tab-pane" ng-include="templateUrl('merchant','invoiceTab')"></div>
	        <div ng-if="user.access.finance" id="paymentTab" class="tab-pane" ng-include="templateUrl('common','paymentTab')"></div>
	        <div ng-if="user.access.finance" id="invoiceSettingTab" class="tab-pane fade" ng-include="templateUrl('merchant','invoiceSettingTab')"></div>
	        <div id="consumerTab" class="tab-pane fade" ng-include="templateUrl('merchant','consumerTab')"></div>
	        <div id="inventoryTab" class="tab-pane fade" ng-include="templateUrl('merchant','inventoryTab')"></div>
	        <div ng-if="user.access.finance" id="subscriptionTab" class="tab-pane fade" ng-include="templateUrl('merchant','subscriptionTab')"></div>
	        <div ng-if="user.access.ops" id="reportsTab" class="tab-pane fade" ng-include="templateUrl('common','reportsTab')"></div>
	        <div ng-if="user.access.admin" id="usersTab" class="tab-pane fade" ng-include="templateUrl('common','usersTab')"></div>
	        <div ng-if="user.access.admin" id="accountTab" class="tab-pane fade" ng-include="templateUrl('merchant','accountTab')"></div>
	        <div id="profileTab" class="tab-pane fade" ng-include="templateUrl('common','profileTab')"></div>
	        <!-- <div id="myInvoicesTab" class="tab-pane fade" ng-include="templateUrl('common','myInvoicesTab')"></div> -->
		</div>
	    <div ng-if="user.access.finance" ng-include="templateUrl('merchant','createInvoiceModal')"></div>
	    <div ng-if="user.access.finance" ng-include="templateUrl('merchant','createInvoiceXsModal')"></div>
	    <div ng-if="user.access.finance" ng-include="templateUrl('merchant','addItemXsModal')"></div>
	    <div ng-if="user.access.finance" ng-include="templateUrl('merchant','invoiceNotifyModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','createParamModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','markPaidModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','childInvoiceModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','categoryConsumerModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','bulkUploadModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','recurrInvoiceModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','refundModal')"></div>
		<div ng-if="user.access.admin" ng-include="templateUrl('common','createUserModal')"></div>
		<div ng-if="user.access.ops" ng-include="templateUrl('common','createReportXsModal')"></div>
		<div ng-if="user.access.ops" ng-include="templateUrl('common','recurrReportModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','createConsumerModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','bulkConsumerUploadModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','createInventoryModal')"></div>
		<div ng-if="user.access.admin" ng-include="templateUrl('merchant','keyModal')"></div>
		<div ng-include="templateUrl('common','invoiceInfoModal')"></div>
		<div ng-include="templateUrl('common','invoicePaymentModal')"></div>
		<div ng-include="templateUrl('merchant','invoiceNoticeModal')"></div>
		<div ng-include="templateUrl('merchant','attachmentModal')"></div>
		<div ng-include="templateUrl('common','changePasswordModal')"></div>
		<div ng-include="templateUrl('common','invoiceTimelineModal')"></div>
    </div>
    <script src="${staticUrl}/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="${staticUrl}/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- <script src="${staticUrl}/dist/js/sb-admin-2.js"></script> -->
    <script src="${staticUrl}/dist/js/adminlte.min.js"></script>
    <script src="${staticUrl}/js/moment.js"></script>
	<script src="${staticUrl}/vendor/raphael/raphael.min.js"></script>
	<script src="${staticUrl}/vendor/morrisjs/morris.min.js"></script>
</body>
</html>
