<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script src="/angular/merchant/merchant-ctrl.js"></script>
	<script src="/angular/common/dashboard-ctrl.js"></script>
	<script src="/angular/merchant/invoice-ctrl.js"></script>
	<script src="/angular/merchant/invoice-setting-ctrl.js"></script>
	<script src="/angular/merchant/account-ctrl.js"></script>
	<script src="/angular/common/reports-ctrl.js"></script>
	<script src="/angular/merchant/pricing-ctrl.js"></script>
	<script src="/angular/common/users-ctrl.js"></script>
	<script src="/angular/common/my-invoices-ctrl.js"></script>
	<script src="/angular/common/profile-ctrl.js"></script>
</head>
<body ng-app="payCrMerchantApp" ng-controller="MerchantController" ng-cloak>
    <div ng-init="prepare()" style="background:lightyellow;" id="wrapper">
        <div ng-include="'/html/merchant/nav'"></div>
        <div class="tab-content bordered" id="page-wrapper">
        	<div ng-include="'/html/common/alert'"></div>
        	<div ng-if="user.access.admin" id="dashboardTab" class="tab-pane active" ng-include="'/html/common/dashboardTab'"></div>
	        <div ng-class="(user.access.admin)?'':'active'" id="invoiceTab" class="tab-pane" ng-include="'/html/merchant/invoiceTab'"></div>
	        <div ng-if="user.access.finance" id="invoiceSettingTab" class="tab-pane fade" ng-include="'/html/merchant/invoiceSettingTab'"></div>
	        <div ng-if="user.access.finance" id="subscriptionTab" class="tab-pane fade" ng-include="'/html/merchant/subscriptionTab'"></div>
	        <div ng-if="user.access.ops" id="reportsTab" class="tab-pane fade" ng-include="'/html/common/reportsTab'"></div>
	        <div ng-if="user.access.admin" id="usersTab" class="tab-pane fade" ng-include="'/html/common/usersTab'"></div>
	        <div ng-if="user.access.admin" id="accountTab" class="tab-pane fade" ng-include="'/html/merchant/accountTab'"></div>
	        <div id="profileTab" class="tab-pane fade" ng-include="'/html/common/profileTab'"></div>
	        <div id="myInvoicesTab" class="tab-pane fade" ng-include="'/html/common/myInvoicesTab'"></div>
		</div>
	    <div ng-if="user.access.finance" ng-include="'/html/merchant/createInvoiceModal'"></div>
	    <div ng-if="user.access.finance" ng-include="'/html/merchant/createInvoiceXsModal'"></div>
	    <div ng-if="user.access.finance" ng-include="'/html/merchant/addItemXsModal'"></div>
		<div ng-if="user.access.finance" ng-include="'/html/merchant/createParamModal'"></div>
		<div ng-if="user.access.finance" ng-include="'/html/merchant/markPaidModal'"></div>
		<div ng-if="user.access.finance" ng-include="'/html/merchant/refundModal'"></div>
		<div ng-if="user.access.admin" ng-include="'/html/common/createUserModal'"></div>
		<div ng-if="user.access.ops" ng-include="'/html/common/createReportXsModal'"></div>
		<div ng-include="'/html/common/invoiceInfoModal'"></div>
		<div ng-include="'/html/common/changePasswordModal'"></div>
		<div ng-include="'/html/common/keyModal'"></div>
    </div>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="/dist/js/sb-admin-2.js"></script>
    <script src="/js/moment.js"></script>
</body>
</html>
