<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0;background:darksalmon;">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
		<strong><a class="navbar-brand" href="/merchant">{{merchant.name}}</a></strong>
	</div>
	<ul class="nav navbar-top-links navbar-right">
		<li ng-hide="hideSpinner" class="navbar-brand"><i id="spinner" class="fa fa-spinner fa-spin"></i></li>
		<li ng-hide="hideSpinner">Loading..</li>
		<li>&nbsp;&nbsp;&nbsp;<strong>{{user.name}}</strong></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-bell fa-fw"></i>
				<i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-alerts">
				<li ng-repeat="notice in notices" class="panel">
					<a href="#">
						<div>
							<i class="fa fa-comment fa-fw"></i> {{notice.subject}} <span
								class="pull-right text-muted small">{{notice.created | date:'dd-MM-yyyy'}}</span>
						</div>
						<hr style="margin: 0px;">
						<div>
							<p>{{notice.message}}</p>
						</div>
					</a>
				</li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-user fa-fw"></i>
				<i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li ng-if="user.access.admin"><a href="#" data-toggle="modal" data-target="#keyModal"><i class="fa fa-gear fa-fw"></i> Keys</a></li>
				<li class="divider"></li>
				<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
			</ul>
		</li>
	</ul>
	<div class="sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse collapse">
			<ul class="nav" id="side-menu">
				<li style="margin-top:20px;">&nbsp;<i class="fa fa-hand-o-right fa-fw"></i><strong>Invoicing</strong></li>
				<li ng-if="user.access.admin" class="active"><a href="#" data-target="#dashboardTab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
				<li ng-class="(user.access.admin)?'':'active'" ng-click="searchInvoice()"><a id="invoiceTabNav" href="#" data-target="#invoiceTab" data-toggle="tab"><i class="fa fa-file-text fa-fw"></i> Invoices</a></li>
				<li ng-if="user.access.finance" ng-click="searchPayment()"><a href="#" data-target="#paymentTab" data-toggle="tab"><i class="fa fa-rupee fa-fw"></i> Payments</a></li>
				<li ng-if="user.access.ops" ng-click="fetchReports()"><a href="#" data-target="#reportsTab" data-toggle="tab"><i class="fa fa-print fa-fw"></i> Reports</a></li>
				<li style="margin-top:20px;">&nbsp;<i class="fa fa-hand-o-right fa-fw"></i><strong>Manage</strong></li>
				<li ng-click="fetchConsumers()"><a href="#" data-target="#consumerTab" data-toggle="tab"><i class="fa fa-users fa-fw"></i> Consumers</a></li>
				<li ng-click="fetchInventory()"><a href="#" data-target="#inventoryTab" data-toggle="tab"><i class="fa fa-cloud fa-fw"></i> Inventory</a></li>
				<li ng-if="user.access.finance"><a href="#" data-target="#invoiceSettingTab" data-toggle="tab"><i class="fa fa-gears fa-fw"></i> Invoice Settings</a></li>
				<li ng-if="user.access.finance" style="margin-top:20px;">&nbsp;<i class="fa fa-hand-o-right fa-fw"></i><strong>Subscription</strong></li>
				<li ng-if="user.access.finance" ng-click="fetchPricings()"><a href="#" data-target="#subscriptionTab" data-toggle="tab"><i class="fa fa-recycle fa-fw"></i> Subscriptions</a></li>
				<li style="margin-top:20px;">&nbsp;<i class="fa fa-hand-o-right fa-fw"></i><strong>Account</strong></li>
				<li ng-if="user.access.admin" ng-click="fetchMyUsers()"><a href="#" data-target="#usersTab" data-toggle="tab"><i class="fa fa-users fa-fw"></i> Users</a></li>
				<li ng-if="user.access.admin"><a href="#" data-target="#accountTab" data-toggle="tab"><i class="fa fa-gear fa-fw"></i> Account</a></li>
				<li><a href="#" data-target="#profileTab" data-toggle="tab"><i class="fa fa-user fa-fw"></i> Profile</a></li>
			</ul>
		</div>
	</div>
</nav>