<nav class="navbar navbar-static-top" role="navigation"
	style="margin-bottom: 0; background: darksalmon;">
	<div class="navbar-header">
		<strong><a class="navbar-brand" href="/merchant">{{merchant.name}}</a></strong>
	</div>
	<ul class="nav navbar-top-links navbar-right">
		<li>
			<div>
				<strong>{{user.name}}</strong>
			</div>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-bell fa-fw"></i>
				<i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-alerts">
				<li ng-repeat="notice in notices" class="panel">
					<a href="#">
						<div>
							<i class="fa fa-comment fa-fw"></i> {{notice.subject}} <span
								class="pull-right text-muted small">{{notice.createdStr}}</span>
						</div>
						<hr style="margin: 0px;">
						<div>
							<p>{{notice.message}}</p>
						</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">View all..</a>
				</li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-user fa-fw"></i>
				<i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
				<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
				<li class="divider"></li>
				<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
			</ul>
		</li>
	</ul>
	<div class="sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
				<li><a href="#" data-target="#dashboardTab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
				<li><a href="#" data-target="#myInvoicesTab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> My Invoices</a></li>
				<li><a href="#" data-target="#invoiceSettingTab" data-toggle="tab"><i class="fa fa-gears fa-fw"></i> Invoice Settings</a></li>
				<li><a href="#" data-target="#inventoryTab" data-toggle="tab"><i class="fa fa-cloud fa-fw"></i> Inventory Items</a></li>
				<li><a href="#" data-target="#accountTab" data-toggle="tab"><i class="fa fa-gear fa-fw"></i> Account</a></li>
				<li ng-if="roles.indexOf('ROLE_MERCHANT') > -1"><a href="#" data-target="#subscriptionTab" data-toggle="tab"><i class="fa fa-recycle fa-fw"></i> Subscriptions</a></li>
				<li ng-if="roles.indexOf('ROLE_MERCHANT') > -1"><a href="#" data-target="#usersTab" data-toggle="tab"><i class="fa fa-recycle fa-fw"></i> User Management</a></li>
			</ul>
		</div>
	</div>
</nav>