<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
    	<div id="serverRespAlert" class="alert alert-success alert-dismissible">
		    <a href="#" id="dismissServerRespAlertBtn" class="close" aria-label="close">&times;</a>
		    <div class="text-center">
		    	<strong id="serverRespStatus">Welcome!</strong>&nbsp;<span id="serverRespMsg">{{user.name}}</span>
		    </div>
		</div>
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <strong><a class="navbar-brand" href="/admin">PayCr</a></strong>
            </div>
            <ul class="nav navbar-top-links navbar-right">
            	<li>
            		<div><strong>{{user.name}}</strong></div>
            	</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        {{#notices}}
                        <li>
                        	{{#read}}<strong>{{/read}}
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> {{subject}}
                                    <span class="pull-right text-muted small">{{createdStr}}</span>
                                </div>
                                <hr style="margin:0px;">
                                <div>
                                	<p>{{message}}</p>
                                </div>
                            </a>
                            {{#read}}</strong>{{/read}}
                        </li>
                        <li class="divider"></li>
                        {{/notices}}
                        <li>
                        	<a href="#">View all..</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a id="merchantsTabLink" href="#merchantsTab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> Merchants</a>
                        </li>
                        <li>
                            <a href="#pricingTab" data-toggle="tab"><i class="fa fa-rupee fa-fw"></i> Pricing</a>
                        </li>
                        <li>
                            <a href="#reportsTab" data-toggle="tab"><i class="fa fa-print fa-fw"></i> Reports</a>
                        </li>
                        <li>
                            <a href="#globalSettingsTab" data-toggle="tab"><i class="fa fa-gears fa-fw"></i> Global Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Account<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="tab-content" id="page-wrapper">
            <div id="merchantsTab" class="tab-pane fade active">
	        	<br>
	            <div class="row">
	                <div class="col-lg-2" style="float:right;">
	                    <div class="row">
	                    	<button type="button" class="btn btn-info btn-circle btn-lg" data-toggle="modal" data-target="#createMerchant"><i class="fa fa-plus"></i></button>
	                    </div>
	                </div>
	            </div>
	            <br>
	            <!-- /.row -->
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="panel">
	                        <div class="panel-body col-lg-3">
	                        	<table style="width: 100%; border-collapse:collapse;" class="table table-striped table-bordered table-hover">
	                        		<tbody>
	                        			<tr>
	                        				<td>
	                        					<div class="form-group">
	                        					<label class="control-label" for="createdSearch">Created</label>
	                        					<input class="form-control" id="createdSearch" placeholder="21-02-2017"/>
	                        					</div>
	                        				</td>
	                        			</tr>
	                        			<tr>
	                        				<td>
	                        					<div class="form-group">
	                        					<label class="control-label" for="pricingSearch">Pricing</label>
	                        					<select class="form-control" id="pricingSearch">
	                        						{{#pricings}}
	                        						<option value="{{id}}">{{name}}</option>
	                        						{{/pricings}}
	                        					</select>
	                        					</div>
	                        				</td>
	                        			</tr>
	                        			<tr>
	                        				<td><button type="button" class="btn btn-info">Search</button></td>
	                        			</tr>
	                        		</tbody>
	                        	</table>
	                        </div>
	                        <div class="panel-body col-lg-9">
	                            <table style="width:100%; border-collapse:collapse;" class="table table-striped table-bordered table-hover">
	                                <thead>
	                                    <tr>
	                                        <th><input style="width:100%" placeholder="Name"/></th>
	                                        <th><input style="width:100%" placeholder="Email"/></th>
	                                        <th><input style="width:100%" placeholder="Mobile"/></th>
	                                        <th><input style="width:100%" placeholder="Access Key"/></th>
	                                        <th><input style="width:100%" placeholder="Active"/></th>
	                                    </tr>
	                                </thead>
	                                <thead>
	                                    <tr>
	                                        <th>Name</th>
	                                        <th>Email</th>
	                                        <th>Mobile</th>
	                                        <th>Access Key</th>
	                                        <th>Active</th>
	                                    </tr>
	                                </thead>
	                                <tbody id="invoiceGroup">
	                                	{{#merchants}}
	                                    <tr>
	                                        <td>{{name}}</td>
	                                        <td>{{email}}</td>
	                                        <td>{{mobile}}</td>
	                                        <td>{{accessKey}}</td>
	                                        <td>{{active}}</td>
	                                    </tr>
								        {{/merchants}}
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	            </div>
        </div>
        <div id="pricingTab" class="tab-pane fade active">
	        	<br>
	            <div class="row">
	                <div class="col-lg-2" style="float:right;">
	                    <div class="row">
	                    	<button type="button" class="btn btn-info btn-circle btn-lg" data-toggle="modal" data-target="#createPricing"><i class="fa fa-plus"></i></button>
	                    </div>
	                </div>
	            </div>
	            <br>
	            <!-- /.row -->
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="panel">
	                        <div class="panel-body col-md-10 col-md-offset-1">
	                            <table style="width:100%; border-collapse:collapse;" class="table table-striped table-bordered table-hover">
	                                <thead>
	                                    <tr>
	                                        <th>Name</th>
	                                        <th>Duration</th>
	                                        <th>Rate</th>
	                                        <th>Invoice Limit</th>
	                                        <th>Start Amount</th>
	                                        <th>End Amount</th>
	                                        <th>Active</th>
	                                        <th>Action</th>
	                                    </tr>
	                                </thead>
	                                <tbody id="invoiceGroup">
	                                	{{#pricings}}
	                                    <tr>
	                                        <td>{{name}}</td>
	                                        <td>{{duration}}</td>
	                                        <td>&#8377; {{rate}}</td>
	                                        <td>{{invoiceLimit}}</td>
	                                        <td>&#8377; {{startAmount}}</td>
	                                        <td>&#8377; {{endAmount}}</td>
	                                        <td>{{active}}</td>
	                                        {{#active}}
	                                        <th><button id="togglePricingBtn" ref="{{id}}" type="button" class="btn btn-danger">Deactivate</button></th>
	                                        {{/active}}
	                                        {{^active}}
	                                        <th><button id="togglePricingBtn" ref="{{id}}" type="button" class="btn btn-success">Activate</button></th>
	                                        {{/active}}
	                                    </tr>
								        {{/pricings}}
	                                </tbody>
	                            </table>
	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <!-- /.panel -->
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
        </div>
        <div id="globalSettingsTab" class="tab-pane fade active">
	        <br>
	        <div class="row">
	        		<div class="col-xs-12 col-md-12 col-lg-8">
	                    <div class="panel panel-default">
	                        <div class="panel-heading">Subscription Settings<span style="float:right;margin-top:-5px;"><button type="button" class="btn btn-info btn-circle btn-md" data-toggle="modal" data-target="#addSubscriptionSetting"><i class="fa fa-plus"></i></button></span></div>
	                        <div class="panel-body">
	                        	<table style="width:100%; border-collapse:collapse; font-size:14px;" class="table table-striped table-bordered table-hover">
	                                <thead>
	                                    <tr>
	                                        <th>Razorpay Merchant Id</th>
	                                        <th>Razorpay Key Id</th>
	                                        <th>Razorpay Secret Id</th>
	                                        <th>Action</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	{{#subsSettings}}
	                                	<tr>
	                                        <td>{{rzpMerchantId}}</td>
	                                        <td>{{rzpKeyId}}</td>
	                                        <td>{{rzpSecretId}}</td>
	                                        <td>{{^active}}<button style="margin-top:-5px;" id="activateSubsSettingBtn" ref="{{id}}" type="button" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>{{/active}}</td>
	                                    </tr>
	                                    {{/subsSettings}}
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	        	</div>
	    </div>
    </div>
    <div id="createMerchant" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div id="newMerchant" class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Create New Merchant</h4>
	      </div>
	      <div class="modal-body" style="padding:20px;">
	      	<form id="createMerchantForm">
			    <div class="row">
			        <div class="col-md-12">
			            <div class="panel panel-default">
			                <div class="panel-body">
			                    <div class="table-responsive">
			                        <table class="table table-bordered">
			                            <tbody>
			                            	<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="mer-name">Name</label>
		                        					<input class="form-control" id="mer-name" placeholder="Merchant Name" pattern="[a-zA-Z0-9 ]" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="mer-email">Email</label>
		                        					<input class="form-control" id="mer-email" type="email" placeholder="Merchant Email" type="email" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="mer-mobile">Mobile</label>
		                        					<input class="form-control" id="mer-mobile" type="number" placeholder="Merchant Mobile" pattern="^[7-9]{1}[0-9]{9}$" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="mer-admin">Admin</label>
		                        					<input class="form-control" id="mer-admin" placeholder="Merchant Admin" pattern="[a-zA-Z0-9 ]" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="mer-price">Pricing</label>
		                        					<select class="form-control" id="mer-price">
		                        						{{#pricings}}
		                        						<option value="{{id}}">{{name}}</option>
		                        						{{/pricings}}
		                        					</select>
		                        					</div>
		                        				</td>
		                        			</tr>
			                            </tbody>
			                        </table>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
	      	</form>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-info" id="createMerchantBtn">Create</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="createPricing" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div id="newInvoice" class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Create New Pricing</h4>
	      </div>
	      <div class="modal-body" style="padding:20px;">
	      	<form id="createPricingForm">
			    <div class="row">
			        <div class="col-md-12">
			            <div class="panel panel-default">
			                <div class="panel-body">
			                    <div class="table-responsive">
			                        <table class="table table-bordered">
			                            <tbody>
			                            	<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-name">Name</label>
		                        					<input class="form-control" id="pri-name" placeholder="Pricing Name" pattern="[a-zA-Z0-9_ ]{1,30}" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-desc">Description</label>
		                        					<input class="form-control" id="pri-desc" placeholder="Pricing Description" pattern="[a-zA-Z0-9_ ]{1,30}" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-limit">Invoice Limit</label>
		                        					<input class="form-control" type="number" id="pri-limit" placeholder="Invoice limit" pattern="[0-9]{1,5}" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-start">Start Amount</label>
		                        					<div class="input-group">
													    <div class="input-group-addon">
													    	&#8377; 
													    </div>
													    <input class="form-control" id="pri-start" type="number" placeholder="Start Amount" pattern="[0-9]{1,8}" required/>
													</div>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-end">End Amount</label>
		                        					<div class="input-group">
													    <div class="input-group-addon">
													    	&#8377; 
													    </div>
													    <input class="form-control" id="pri-end" type="number" placeholder="End Amount" pattern="[0-9]{1,8}" required/>
													</div>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-dura">Duration (Days)</label>
		                        					<input class="form-control" id="pri-dura" type="number" placeholder="Duration" pattern="[0-9]{1,5}" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-rate">Rate</label>
		                        					<div class="input-group">
													    <div class="input-group-addon">
													    	&#8377; 
													    </div>
													    <input class="form-control" id="pri-rate" type="number" placeholder="Rate" pattern="[0-9]{1,8}" required/>
													</div>
		                        					</div>
		                        				</td>
		                        			</tr>
			                            </tbody>
			                        </table>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
	      	</form>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-info" id="createPricingBtn">Create</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="addSubscriptionSetting" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add New Subscription Setting</h4>
	      </div>
	      <div class="modal-body" style="padding:20px;">
	      	<form id="addSubscriptionSettingForm">
			    <div class="row">
			        <div class="col-md-12">
			            <div class="panel panel-default">
			                <div class="panel-body">
			                    <div class="table-responsive">
	                            	<div class="form-group">
		                     			<label class="checkbox-inline"><input type="checkbox" id="subset-active"/>Activate</label>
	                     			</div>
			                        <table class="table table-bordered">
			                            <tbody>
			                            	<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="subset-rzpMerchantId">Razorpay Merchant Id</label>
		                        					<input class="form-control" id="subset-rzpMerchantId" placeholder="Razorpay Merchant Id" pattern="[a-zA-Z]{1,30}" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="subset-rzpKeyId">Razorpay Key Id</label>
		                        					<input class="form-control" id="subset-rzpKeyId" placeholder="Razorpay Key Id" pattern="[a-zA-Z]{1,30}" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="subset-rzpSecretId">Razorpay Secret Id</label>
		                        					<input class="form-control" id="subset-rzpSecretId" placeholder="Razorpay Secret Id" pattern="[a-zA-Z]{1,30}" required/>
		                        					</div>
		                        				</td>
		                        			</tr>
			                            </tbody>
			                        </table>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
	      	</form>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-info" id="addSubscriptionSettingBtn">Add</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="/dist/js/sb-admin-2.js"></script>
    <script src="/js/admin.js"></script>
</body>
</html>
