<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
    	<div id="serverRespAlert" class="alert alert-success alert-dismissible">
		    <a href="#" id="dismissServerRespAlertBtn" class="close" aria-label="close">&times;</a>
		    <div class="text-center">
		    	<strong id="serverRespStatus">Welcome!</strong>&nbsp;<span id="serverRespMsg">{{user.name}}</span>
		    </div>
		</div>
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <strong><a class="navbar-brand" href="index.html">PayCr</a></strong>
            </div>
            <ul class="nav navbar-top-links navbar-right">
            	<li>
            		<div><strong>{{user.name}}</strong></div>
            	</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a id="merchantsTabLink" href="#merchantsTab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> Merchants</a>
                        </li>
                        <li>
                            <a href="#pricingTab" data-toggle="tab"><i class="fa fa-rupee fa-fw"></i> Pricing</a>
                        </li>
                        <li>
                            <a href="#reportsTab" data-toggle="tab"><i class="fa fa-print fa-fw"></i> Reports</a>
                        </li>
                        <li>
                            <a href="#globalSettingsTab" data-toggle="tab"><i class="fa fa-gears fa-fw"></i> Global Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Account<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="tab-content" id="page-wrapper">
            <div id="merchantsTab" class="tab-pane fade active">
	        	<br>
	            <div class="row">
	                <div class="col-lg-2" style="float:right;">
	                    <div class="row">
	                    	<button type="button" class="btn btn-info btn-circle btn-lg" data-toggle="modal" data-target="#createMerchant"><i class="fa fa-plus"></i></button>
	                    </div>
	                </div>
	            </div>
	            <br>
	            <!-- /.row -->
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="panel">
	                        <div class="panel-body col-lg-3">
	                        	<table style="width: 100%; border-collapse:collapse;" class="table table-striped table-bordered table-hover">
	                        		<tbody>
	                        			<tr>
	                        				<td>
	                        					<div class="form-group">
	                        					<label class="control-label" for="createdSearch">Created</label>
	                        					<input class="form-control" id="createdSearch" placeholder="21-02-2017"/>
	                        					</div>
	                        				</td>
	                        			</tr>
	                        			<tr>
	                        				<td>
	                        					<div class="form-group">
	                        					<label class="control-label" for="pricingSearch">Pricing</label>
	                        					<select class="form-control" id="pricingSearch">
	                        						{{#pricings}}
	                        						<option value="{{id}}">{{name}}</option>
	                        						{{/pricings}}
	                        					</select>
	                        					</div>
	                        				</td>
	                        			</tr>
	                        			<tr>
	                        				<td><button type="button" class="btn btn-info">Search</button></td>
	                        			</tr>
	                        		</tbody>
	                        	</table>
	                        </div>
	                        <div class="panel-body col-lg-9">
	                            <table style="width:100%; border-collapse:collapse;" class="table table-striped table-bordered table-hover">
	                                <thead>
	                                    <tr>
	                                        <th><input style="width:100%" placeholder="Name"/></th>
	                                        <th><input style="width:100%" placeholder="Email"/></th>
	                                        <th><input style="width:100%" placeholder="Mobile"/></th>
	                                        <th><input style="width:100%" placeholder="Access Key"/></th>
	                                        <th><input style="width:100%" placeholder="Active"/></th>
	                                    </tr>
	                                </thead>
	                                <thead>
	                                    <tr>
	                                        <th>Name</th>
	                                        <th>Email</th>
	                                        <th>Mobile</th>
	                                        <th>Access Key</th>
	                                        <th>Active</th>
	                                    </tr>
	                                </thead>
	                                <tbody id="invoiceGroup">
	                                	{{#merchants}}
	                                    <tr>
	                                        <td>{{name}}</td>
	                                        <td>{{email}}</td>
	                                        <td>{{mobile}}</td>
	                                        <td>{{accessKey}}</td>
	                                        <td>{{active}}</td>
	                                    </tr>
								        {{/merchants}}
	                                </tbody>
	                            </table>
	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <!-- /.panel -->
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
        </div>
        <div id="pricingTab" class="tab-pane fade active">
	        	<br>
	            <div class="row">
	                <div class="col-lg-2" style="float:right;">
	                    <div class="row">
	                    	<button type="button" class="btn btn-info btn-circle btn-lg" data-toggle="modal" data-target="#createPricing"><i class="fa fa-plus"></i></button>
	                    </div>
	                </div>
	            </div>
	            <br>
	            <!-- /.row -->
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="panel">
	                        <div class="panel-body col-lg-12">
	                            <table style="width:100%; border-collapse:collapse;" class="table table-striped table-bordered table-hover">
	                                <thead>
	                                    <tr>
	                                        <th><input style="width:100%" placeholder="Name"/></th>
	                                        <th><input style="width:100%" placeholder="Duration"/></th>
	                                        <th><input style="width:100%" placeholder="Rate"/></th>
	                                        <th><input style="width:100%" placeholder="Invoice Limit"/></th>
	                                        <th><input style="width:100%" placeholder="Start Amount"/></th>
	                                        <th><input style="width:100%" placeholder="End Amount"/></th>
	                                        <th><input style="width:100%" placeholder="Active"/></th>
	                                    </tr>
	                                </thead>
	                                <thead>
	                                    <tr>
	                                        <th>Name</th>
	                                        <th>Duration</th>
	                                        <th>Rate</th>
	                                        <th>Invoice Limit</th>
	                                        <th>Start Amount</th>
	                                        <th>End Amount</th>
	                                        <th>Active</th>
	                                    </tr>
	                                </thead>
	                                <tbody id="invoiceGroup">
	                                	{{#pricings}}
	                                    <tr>
	                                        <td>{{name}}</td>
	                                        <td>{{duration}}</td>
	                                        <td>{{rate}}</td>
	                                        <td>{{invoiceLimit}}</td>
	                                        <td>{{startAmount}}</td>
	                                        <td>{{endAmount}}</td>
	                                        <td>{{active}}</td>
	                                    </tr>
								        {{/pricings}}
	                                </tbody>
	                            </table>
	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <!-- /.panel -->
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
        </div>
    </div>
    <div id="createMerchant" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div id="newInvoice" class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Create New Merchant</h4>
	      </div>
	      <div class="modal-body" style="padding:20px;">
	      	<form>
			    <div class="row">
			        <div class="col-md-12">
			            <div class="panel panel-default">
			                <div class="panel-body">
			                    <div class="table-responsive">
			                        <table class="table table-bordered">
			                            <tbody>
			                            	<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="mer-name">Name</label>
		                        					<input class="form-control" id="mer-name" placeholder="Merchant Name"/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="mer-email">Email</label>
		                        					<input class="form-control" id="mer-email" placeholder="Merchant Email"/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="mer-mobile">Mobile</label>
		                        					<input class="form-control" id="mer-mobile" placeholder="Merchant Mobile"/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="mer-admin">Admin</label>
		                        					<input class="form-control" id="mer-admin" placeholder="Merchant Admin"/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="mer-price">Pricing</label>
		                        					<select class="form-control" id="mer-price">
		                        						{{#pricings}}
		                        						<option value="{{id}}">{{name}}</option>
		                        						{{/pricings}}
		                        					</select>
		                        					</div>
		                        				</td>
		                        			</tr>
			                            </tbody>
			                        </table>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
	      	</form>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-info" id="createMerchantBtn">Create</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="createPricing" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div id="newInvoice" class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Create New Pricing</h4>
	      </div>
	      <div class="modal-body" style="padding:20px;">
	      	<form>
			    <div class="row">
			        <div class="col-md-12">
			            <div class="panel panel-default">
			                <div class="panel-body">
			                    <div class="table-responsive">
			                        <table class="table table-bordered">
			                            <tbody>
			                            	<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-name">Name</label>
		                        					<input class="form-control" id="pri-name" placeholder="Pricing Name"/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-desc">Description</label>
		                        					<input class="form-control" id="pri-desc" placeholder="Pricing Description"/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-limit">Invoice Limit</label>
		                        					<input class="form-control" id="pri-limit" placeholder="Invoice limit"/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-start">Start Amount</label>
		                        					<input class="form-control" id="pri-start" placeholder="Start Amount"/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-end">End Amount</label>
		                        					<input class="form-control" id="pri-end" placeholder="End Amount"/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-dura">Duration</label>
		                        					<input class="form-control" id="pri-dura" placeholder="Duration"/>
		                        					</div>
		                        				</td>
		                        			</tr>
		                        			<tr>
		                        				<td>
		                        					<div class="form-group">
		                        					<label class="control-label" for="pri-rate">Rate</label>
		                        					<input class="form-control" id="pri-rate" placeholder="Rate"/>
		                        					</div>
		                        				</td>
		                        			</tr>
			                            </tbody>
			                        </table>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
	      	</form>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-info" id="createPricingBtn">Create</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="/dist/js/sb-admin-2.js"></script>
    <script src="/js/admin.js"></script>
</body>
</html>
