<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link href="${staticUrl}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="${staticUrl}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="${staticUrl}/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="${staticUrl}/vendor/device-mockups/device-mockups.min.css" rel="stylesheet">
    <link href="${staticUrl}/css/new-age.min.css" rel="stylesheet">
    <style>
    	#newInvoice input {border:none;text-size:6px;}
    </style>
</head>
<body style="background:cadetblue;">
	<section id="download" class="download text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="section-heading">${message}</h3>
                    <p>Please try again later</p>
                    <div class="badges">
                        <a class="badge-link" href="/"><button type="button" class="btn btn-warning">Ok</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>