<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{invoiceBaseUrl}}/css/style.css">
	<link rel="stylesheet" type="text/css" href="{{invoiceBaseUrl}}/css/customizedscroll.css">
    <link href="images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <script type="text/javascript" src="{{invoiceBaseUrl}}/js/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="{{invoiceBaseUrl}}/js/invoice.js"></script>
</head>
<body>
<div class="columnCommon column-860">
<div class="columnCommon column-860 emailInvoicing">
    <div class="boxWhite headDivinvoice">
        <div class="floatright" id="btnEditSettingInvoice"><a title="Settings" class="btn-icon settings">Citrus Invoicing</a></div>
        <h2>Citrus Invoicing</h2>
    </div>
</div>
<div class="columnCommon column-425 custInvoice">
<div id="custInvoice" class="boxWhite" style="height: 802px;">
	<ul class="accordion">
		<li><a class="toggle" href="javascript:void(0);" style="display:none;" id="createInvoice">Create New Invoice <span
		        class="plusSymbolgrayRect">+</span></a>
		    <ul class="inner show" style="display:block;">
		        <ul style="display:block;max-height:720px;overflow:auto;" id="invoiceDiv" class="form-wrapper1 cust-inovice clearfix">
		            <li class="clearfix">
		                <label class="InvoiceLable"><input value="Bulk" id="bulkInvoice" type="checkbox">Bulk Invoicing</label>
		                <label class="InvoiceLable"><input value="Email" id="emailInvoice" type="checkbox">Email</label>
		                <label class="InvoiceLable"><input value="SMS" id="smsInvoice" type="checkbox"> SMS</label>
		            </li>
		            <li class="clearfix">
		                <div class="EmailInvoiceSection"><b>Email ID</b></div>
		                <input class="inputText" id="invoiceEmail" style="width:96%;" type="text">
		                <div id="EmailErrorTipsy" class="tipsy tipsy-n" style="top:154px;left:104px;visibility:visible;display:none;opacity:1;">
		                    <div class="tipsy-arrow tipsy-arrow-n"></div>
		                    <div class="tipsy-emailid-text">Please enter valid email id</div>
		                </div>
		            </li>
		            <li class="clearfix">
		                <div class="MobileInvoiceSection"><b>Mobile Number</b></div>
		                <input class="inputText" id="invoiceMobile" style="width:96%;" type="text" maxlength="10">
		                <div id="MobileErrorTipsy" class="tipsy tipsy-n" style="top:223px;left:104px;visibility:visible;display:none;opacity:1;">
		                    <div class="tipsy-arrow tipsy-arrow-n"></div>
		                    <div class="tipsy-mobile-text">Please enter valid mobile</div>
		                </div>
		            </li>
		            <li class="clearfix">
		                <div id="alternateMobileNumSection" style="display:block;color:#959595;margin-bottom:3px;padding-top:10px;"><b>+ Add alternate mobile number</b></div>
		                <input class="inputText" id="invoiceAlternateMobile" style="display:none;width:96%;margin-top:10px;" type="text" placeholder="Alternate mobile number" maxlength="10">
		                <div id="AlternateMobileErrorTipsy" class="tipsy tipsy-n" style="top:263px;left:104px;visibility:visible;display:none;opacity:1;">
		                    <div class="tipsy-arrow tipsy-arrow-n"></div>
		                    <div class="tipsy-altermobile-text">Please enter valid mobile</div>
		                </div>
		            </li>
		            <li class="clearfix">
		                <div style="display:block;color:#333;margin-bottom:3px;padding-top:15px;"><b>Name</b></div>
		                <input class="inputText" id="invoiceName" style="width:96%;" type="text">
		                <div id="NameErrorTipsy" class="tipsy tipsy-n" style="top:327px;left:104px;visibility:visible;display:none;opacity:1;">
		                    <div class="tipsy-arrow tipsy-arrow-n"></div>
		                    <div class="tipsy-name-text">Please enter name</div>
		                </div>
		            </li>
		            <li class="clearfix">
		                <div style="display:block;color:#333;margin-bottom:3px;padding-top:20px;"><b>Invoice Number</b></div>
		                <input class="inputText" id="invoiceCode" style="width:96%;" type="text"></li>
		            <li class="clearfix">
		                <div style="display:block;color:#333;margin-bottom:3px;padding-top:15px;"><b>Amount</b></div>
		                <input class="inputText" id="invoiceAmount" style="width:50%;" type="text">
		                <select class="inputText" id="invoiceCurrency" style="width:46%;">
		                	{{#currencies}}
		                		<option value="{{.}}">{{.}}</option>
		                	{{/currencies}}
		                </select>
		                <div id="AmountErrorTipsy" class="tipsy tipsy-n" style="top:456px;left:104px;visibility:visible;display:none;opacity:1;">
		                    <div class="tipsy-arrow tipsy-arrow-n"></div>
		                    <div class="tipsy-amount-text">Please enter amount</div>
		                </div>
					</li>
					<li class="clearfix">
		                <div style="display:block;color:#333;margin-bottom:3px;padding-top:15px;"><b>Max Pay Allowed</b></div>
		                <input class="inputText" id="invoiceMaxPay" style="width:96%;" type="text" value="1"  maxlength="4">
		                <div id="MaxPayErrorTipsy" class="tipsy tipsy-n" style="top:518px;left:104px;visibility:visible;display:none;opacity:1;">
		                    <div class="tipsy-arrow tipsy-arrow-n"></div>
		                    <div class="tipsy-maxpay-text">Please enter Max Pay</div>
		                </div>
					</li>
					<li class="clearfix">
		                <div style="display:block;color:#333;margin-bottom:3px;padding-top:15px;"><b>Validity (in days)</b></div>
		                <input class="inputText" id="invoiceValidity" style="width:96%;" type="text" value="7"  maxlength="4">
		                <div id="ValidityErrorTipsy" class="tipsy tipsy-n" style="margin-bottom:3px;top:578px;left:104px;visibility:visible;display:none;opacity:1;">
		                    <div class="tipsy-arrow tipsy-arrow-n"></div>
		                    <div class="tipsy-validity-text">Please enter validity</div>
		                </div>
					</li>
					{{#hasCustomParams}}
					<li>
						<div style="display:block;background:#AAA;margin-top:50px;margin-right:20px;margin-left:20px;height:0.1em;"></div>
						<div style="display:block;color:#333;margin-top:20px;"><b>Custom Params:</b></div>
					</li>
					{{/hasCustomParams}}
					{{#customParams}}
					<li class="clearfix">
		                <div style="display:block;color:#333;margin-bottom:3px;padding-top:10px;"><b>{{.}}</b></div>
		                <input class="inputText" name="customParam" id="{{.}}" style="width:96%;" type="text">
					</li>
					{{/customParams}}
					<li class="clearfix"></li>
		        </ul>
		    </ul>
		</li>
		<li><a class="toggle" href="javascript:void(0);" id="oldInvoice">Old Invoice <span class="plusSymbolgrayRect">+</span></a>
			<ul class="inner">
				<li>
					<input type="search" autofocus id="searchOldInvoices" style="width:260px;"/>
				    <div id="pane" class="scroll-pane" data-bind="jScrollPane: {}">
						<ul class="cust-invoices" id="oldInvoices">
							{{#merInvoices}}
							<li>
							    <div class="msg-item">
							        <div class="msg-title active-chip" name="invoiceTitle" id="msgTitle-{{pos}}">
							        	<span class="date">{{created}}</span>
							            <span class="invoice-no">{{invoiceCode}}</span> | {{currency}} {{amount}}
							        </div>
							        <div class="msg-content" name="invoiceContent" id="msgInvoice-{{pos}}">
							        	<div class="msg-wrapper">
							                <p><i><label>Payment Url:</label></i> <b>{{paymentUrl}}</b>
							                <br><i><label>Short Url:</label></i> <b>{{shortUrl}}</b></p>
							            </div>
							            <div class="msg-wrapper">
							                <p><i><label>Max Payment Allowed:</label></i> <b>{{maxPayAllowed}}</b>
							                <br><i><label>Successful Payments:</label></i> <b>{{successPayments}}</b></p>
							            </div>
							            <div class="msg-header"></div>
							        	{{#emailBody}}
							        	<i><b>Email:</b></i>
							            <div class="msg-wrapper">
							                <div class="msg-header">
							                    <p><i><label>From:</label></i> noreply@citruspay.com
							                        <br><i><label>First Name:</label></i> {{#firstName}}{{firstName}}{{/firstName}}
							                        <br><i><label>Last Name:</label></i> {{#lastName}}{{lastName}}{{/lastName}}
							                        <br><i><label>Email:</label></i> {{#email}}{{email}}{{/email}}</p>
							                    <p><strong>Payment for your order</strong></p>
							                </div>
							                <div name="oldInvoiceEmail">{{emailBody}}</div>
							            </div>
							            {{/emailBody}}
							            <div class="msg-header"></div>
							            {{#smsBody}}
							            <i><b>Sms:</b></i>
							            <div class="msg-wrapper">
							                <div class="msg-header">
							                    <p><i><label>From:</label></i> Citrus
							                        <br><i><label>First Name:</label></i> {{#firstName}}{{firstName}}{{/firstName}}
							                        <br><i><label>Mobile Number:</label></i> {{#phoneNumber}}{{phoneNumber}}{{/phoneNumber}}</p>
							                </div>
							                {{smsBody}}
							            </div>
							            {{/smsBody}}
							            <div class="msg-footer">
							                <form action="" name="resendForm">
							                    <!-- <input class="btn-orange" name="invoiceEmail" id="invoiceEmail{{invoiceCode}}" value="Email" type="button"> -->
							                    <!-- <input class="btn-orange" name="invoicePrint" id="invoicePrint{{invoiceCode}}" value="Print" type="button"> -->
							                    <input class="btn-orange" name="invoiceExpire" id="invoiceExpire{{invoiceCode}}" value="Expire" type="button">
							                    {{#isNotify}}
							                    <input class="btn-orange" name="invoiceNotify" id="invoiceNotify{{invoiceCode}}" value="Notify" type="button">
							                    {{/isNotify}}
							                </form>
							            </div>
							        </div>
							    </div>
							</li>
							{{/merInvoices}}
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li><a class="toggle" href="javascript:void(0);" id="bulkInvoice">Bulk Invoice <span class="plusSymbolgrayRect">+</span></a>
			<ul class="inner">
				<li>
				    <div id="pane" class="scroll-pane" data-bind="jScrollPane: {}">
						<ul class="cust-invoices" id="bulkInvoices">
							{{#merBulk}}
							<li>
							    <div class="msg-item">
							        <div class="msg-title active-chip">
							        	<span class="date"><a href="{{baseUrl}}/invoices/bulk/{{vanity}}/{{bulkId}}"><img style="width:16px;height:16px;" src="/images/icon_excel.png"></img></a></span>
							        	<span class="invoice-no">{{bulkId}} - {{created}}</span>
							        </div>
							    </div>
							</li>
							{{/merBulk}}
						</ul>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
<input value="false" id="isAddressMandatoryAndReadOnly" name="isAddressMandatoryAndReadOnly" type="hidden"></div>
<div class="v-space">&nbsp;</div>
<div class="columnCommon col-426 custInvoiceList">
    <div class="columnCommon col-426">
        <div id="custInvoiceList" class="boxWhite" style="height: 802px;">
            <div class="navmainDiv">
                <div class="navitab">
                    <ul>
                        <li id="emailPreviewTab1" class="naviLi selectedTab">Email Preview</li>
                        <li id="smsPreviewTab2" class="naviLi">SMS Preview</li>
                    </ul>
                </div>
                <div class="containInvoicingDiv">
                    <!-------Email Preview Contain----------->
                    <div id="wrapperContaindiv1" class="wrapperCommondiv" style="display:block;height:684px;">
                        <!-- <div class="rectangleDiv show" style="width:526px;height:80px;padding-top:15px;">
                            <div class="rectangleWrap" style="margin-left: 22px;">
                                <div class="rectangle selectedRectangle" id="emailTemplate1" style=""></div>
                                <div class="TemplateText">Template 1</div>
                            </div>
                            <div class="rectangleWrap">
                                <div class="rectangle" id="emailTemplate2"></div>
                                <div class="TemplateText">Template 2</div>
                            </div>
                            <div class="rectangleWrap">
                                <div class="rectangle" id="emailTemplate3"></div>
                                <div class="TemplateText">Template 3</div>
                            </div>
                            <div class="rectangleWrap">
                                <div class="rectangle" id="emailTemplate4"></div>
                                <div class="TemplateText">Template 4</div>
                            </div>
                            <div class="rectangleWrap">
                                <div class="rectangle" style="background-color:#d0d0ce; position:relative"><span
                                        class="plusSymbolUpload">+</span>
                                </div>
                                <div class="TemplateText">Upload New</div>
                            </div>
                        </div> -->
                        <hr>
                        <div class="detailEnvoiceDiv">
                            <div class="emailaddDiv"><i>From: <span id="addEmail">noreply@citruspay.com</span></i>
                            </div>
                        </div>
                        <div class="HeadingEnvoiceDiv">
                            <div class="HeadTextDiv" style="padding:20px 0 0 20px">
                            	<b>Payment for your order</b>
                            </div>
                        </div>
                        <div class="gradiantBox"></div>
						<div class="textEmailInvoicing">
							Dear <span name="invoiceNamePreview">[name]</span>,<br> 
							Please use the following link to process your order for <span name="invoiceAmountPreview">[amount]</span> <span name="invoiceCurrencyPreview">INR</span><br>
							on {{merchantUrl}} -
						</div>
						<div class="textEmailInvoicing">
							<a href="#">{{dummyInvoiceUrl}}</a>
						</div>
						<div class="textEmailInvoicing">
							Thanks,<br>
							{{merchantName}}<br>
						</div>
                    </div>
                    <!-------SMS Preview Contain----------->
                    <div id="wrapperContaindiv2" class="wrapperCommondiv" style="display:none;height:680px;">
                        <div class="" style="border:1px solid #aaaaaa;width:75%;margin:10px 0 0 10px;">
                            <div class="detailEnvoiceDiv" style="padding-top:20px;">
                                <div class="emailaddDiv" style="padding-left:20px;color:#d0d0ce">
                                	<i> From: VK-CITRUS</i>
                                </div>
                            </div>
                            <div class="emailInvoiceingMsg" style="padding:20px 0 20px 20px;line-height:20px;">
                            	<b>Dear <span name="invoiceNamePreview">[name]</span></b><br>
                                <b>Please Click on <a href="">{{dummyInvoiceUrlShort}}</a> to pay <span name="invoiceAmountPreview">[amount]</span> INR.</b><br>
                                <b>For any queries please contact contact@citruspay.com</b><br>
                            </div>
                        </div>
                    </div>
                    <div style="position:relative">
                        <input style="width:100px;position:absolute;right:0;"
                        	value="Save &amp; Send" class="btn-orange" id="createAndSend" type="button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear">&nbsp;</div>
</div>
<!-------Invoice Success popup Contain----------->
<div class="jqibox" id="successbox"
     style="display:none;position:absolute;height:967px;width:100%;top:0px;left:0px;right:0px;bottom:0px;z-index:999;">
    <div class="jqifade" id="jqifade"
         style="position:absolute;height:967px;width:100%;top:0px;left:0px;right:0px;bottom:0px;z-index:999;opacity:0.8;"></div>
    <div class="jqi" id="jqi"
         style="position:absolute;top:44px;left:160px;margin-left:0px;width:535px;z-index:1000;">
        <div class="jqicontainer">
            <div id="jqistates">
                <div id="jqi_state_0" class="jqi_state" style="display: block;">
                    <div class="jqiarrow jqiarrowundefined"></div>
                    <div class="jqimessage">
                        <div version="2.0">
                            <div id="addNewUser">
                                <h3>Invoice Notification</h3>
                                <form style="border:1px solid #aaaaaa;margin:10px;height:150px;" id="userForm" name="userForm" action="" method="">
                                    <ul style="padding:5px;" class="form-wrapper1 add-merchant clearfix">
                                        <li class="clearfix">
                                            <label>Status:</label>
                                            <label style="font-weight:bold" id="successStatus"></label>
                                        </li>
                                        <li class="clearfix">
                                            <label>Message:</label>
                                            <label style="font-weight:bold" id="successMessage"></label>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="jqibuttons" style="text-align:left;margin-left:10px;">
                        <button id="successCancelbtn" value="0" class="jqidefaultbutton">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------Invoice Setting popup Contain----------->
<div class="jqibox" id="jqibox"
     style="display:none;position:absolute;height:967px;width:100%;top:0px;left:0px;right:0px;bottom:0px;z-index:999;">
    <div class="jqifade" id="jqifade"
         style="position:absolute;height:967px;width:100%;top:0px;left:0px;right:0px;bottom:0px;z-index:999;opacity:0.8;"></div>
    <div class="jqi" id="jqi"
         style="position:absolute;top:44px;left:33px;margin-left:0px;width:824px;z-index:1000;">
        <div class="jqicontainer">
            <div id="jqistates">
                <div id="jqi_state_0" class="jqi_state" style="display: block;">
                    <div class="jqiarrow jqiarrowundefined"></div>
                    <div class="jqimessage">
                        <div version="2.0">
                            <div id="addNewUser">
                                <div class="icon-settingDiv "><span class="icon-setting">&nbsp;</span>
                                </div>
                                <h3>Invoice settings</h3>

                                <form id="userForm" name="userForm" action="" method="">
                                    <ul class="form-wrapper1 add-merchant clearfix">
                                        <li class="clearfix">
                                            <label>Return URL<span class="mandatory">*</span>:</label>
                                            <input id="settingReturnUrl" class="text temp_text"
                                            	   value="{{invoiceReturnUrl}}" placeholder="Return Url" type="text">
                                        </li>
                                        <!-- <li class="clearfix">
                                            <label>Number of payments<span class="mandatory">*</span>:</label>
                                            <input id="settingMaxPay" class="text temp_text"
                                            	   value="" placeholder="Number of Payments" type="text">
                                        </li>
                                        <li class="clearfix">
                                            <label>Expiry Time(in days)<span class="mandatory">*</span>:</label>
                                            <input id="settingValidity" class="text temp_text"
                                            	   value="" placeholder="Validity (in days)" type="text">
                                        </li> -->
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="jqibuttons" style="text-align: left; margin-left: 180px;">
                        <button name="settingSavebtn" id="settingSavebtn" value="1">Save</button>
                        <button name="settingCancelbtn" id="settingCancelbtn" value="0" class="jqidefaultbutton">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------Bulk Setting popup Contain----------->
<div class="jqibox" id="jqiboxBulk"
     style="display:none;position:absolute;height:967px;width:100%;top:0px;left:0px;right:0px;bottom:0px;z-index:999;">
    <div class="jqifade" id="jqifadeBulk"
         style="position:absolute;height:967px;width:100%;top:0px;left:0px;right:0px;bottom:0px;z-index:999;opacity:0.8;"></div>
    <div class="jqi" style="position:absolute;top:44px;left:27px;margin-left:140px;width:532px;z-index:1000;">
        <div class="jqicontainer">
            <div class="jqicloseBulk" id="jqicloseBulk">X</div>
            <div id="jqistates">
                <div id="jqi_state_0" class="jqi_state" style="display: block;">
                    <div class="jqiarrow jqiarrowundefined"></div>
                    <div class="jqimessage">
                        <div version="2.0">
                            <input value="MERCHANT" name="user-type" id="txt-type" type="hidden">

                            <div id="addNewUser">
                                <h3 style="margin-bottom:0px">Upload File</h3>

                                <div class="mainUploadDiv" style="height:300px;">
                                    <div class="uploadContain">
	                                    <div style="height:0px;overflow:hidden">
										   <input type="file" id="fileUpload" name="fileUpload" />
										</div>
                                        <div class="uploadImg" id="uploadBulk"></div>
                                        <div class="uploadText" id="uploadBulkText">Upload From Computer</div>
                                        <input class="btn-orange" style="margin:220px 90px;" value="Upload" id="uploadBulkAction" type="button" disabled>
                                    </div>
                                    <!-- <div class="uploadContain" style=" margin-left: 267px;">
                                        <div class="uploadImg"></div>
                                        <div class="uploadText">Upload From Drive</div>
                                    </div> -->
                                    <div class="uploadContain" style=" margin-left: 267px; border:none">
                                        <a href="{{invoiceBaseUrl}}/invoices/bulkdummy"><div class="downloadImg" id="downloadBulkDummy"></div></a>
                                        <div class="uploadText">Download Template</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
	<input type="hidden" id="invoiceVanity" value="{{invoiceVanity}}"/>
	<input type="hidden" id="invoiceRequestTime" value="{{invoiceRequestTime}}"/>
	<input type="hidden" id="invoiceBaseUrl" value="{{invoiceBaseUrl}}"/>
	<input type="hidden" id="signSignature" value="{{signSignature}}"/>
</div>
<script type="text/javascript" src="{{invoiceBaseUrl}}/js/function.js"></script>
<script type="text/javascript" src="{{invoiceBaseUrl}}/js/pages.js"></script>
<script type="text/javascript" src="{{invoiceBaseUrl}}/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{invoiceBaseUrl}}/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="{{invoiceBaseUrl}}/js/mwheelIntent.js"></script>
<script>
    $(document).ready(function(){

        $('.scroll-pane').jScrollPane();
    });

</script>
</body>

</html>