<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
	<title>Citruspay Invoice</title>
	<link rel="stylesheet" type="text/css" href="{{baseUrl}}/css/default.css">
	<link rel="stylesheet" type="text/css" href="{{baseUrl}}/css/style.css">
	<script src="{{baseUrl}}/js/jquery-1.12.2.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#onboardBtn').click(function() {
				var data = '{{vanityUrl}}'+$("#returnUrl").val();
				$.ajax({
					url: '{{baseUrl}}/signature',
					type: 'GET',
					headers : {
						'vanityUrl':'{{vanityUrl}}',
						'data':data,
						'requestTime':$("#requestTime").val(),
						'signature':$("#signSignature").val()
					},
					async: false,
					complete: function(data) {
						signature = data.responseText;
						$("#signature").val(signature);
						$("#onboardForm").submit();
					}
				});
			});
		});
	</script>
</head>
<body>
	<!-- <div id="page-client-logo">&#160;</div> -->
	<div class="columnCommon column-860 emailInvoicing">
	    <div class="boxWhite headDivinvoice">
	        <h2>Citrus Invoicing Onboarding</h2>
	    </div>
	</div>
	<div class="columnCommon column-860 custInvoice">
		<div class="boxWhite" style="height:802px;">
			<div class="page-content">
				<form id="onboardForm" action="{{baseUrl}}/onboard" method="post">
					<input id="signature" name="signature" type="hidden"/>
					<input name="vanityUrl" type="hidden" value="{{vanityUrl}}"/>
					<div style="margin:auto;width:50%">
						<ul class="form-wrapper add-merchant clearfix">
							<li>
								<label>Notify Url: </label>
								<input type="text" class="text" name="notifyUrl" required/>
							</li>
							<li>
								<label>Return Url: </label>
								<input type="text" class="text" id="returnUrl" name="returnUrl" required/>
							</li>
							<li>
								<input id="onboardBtn" type="button" class="btn-orange" value="Onboard" required/>
							</li>
						</ul>
					</div>
				</form>
				<div>
					<input type="hidden" id="requestTime" value="{{requestTime}}"/>
					<input type="hidden" id="signSignature" value="{{signSignature}}"/>
				</div>
			</div>
		</div>
	</div>
</body>

</html>