<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	table {
			font-size: 14px;
		}
    </style>
</head>
<body style="background:cadetblue;">
	<section style="margin-top:60px;" ng-init="loadInvoice('${invoiceCode}')">
		<div class="container text-center">
			<div class="col-xs-12 col-sm-8">
				<table class="table table-bordered table-responsive">
                    <tbody>
                        <tr>
                            <td class="text-center hidden-xs">Name : </td>
                            <td class="text-center"><input class="form-control" value="${invoice.consumer.name}" readonly></td>
                        </tr>
                        <tr>
                            <td class="text-center hidden-xs">Email : </td>
                            <td class="text-center"><input class="form-control" value="${invoice.consumer.email}" readonly></td>
                        </tr>
                        <tr>
                            <td class="text-center hidden-xs">Mobile : </td>
                            <td class="text-center"><input class="form-control" value="${invoice.consumer.mobile}" readonly></td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</section>
	<section>
        <div class="container text-center">
			<div class="col-xs-12 col-sm-8">
				<div class="panel-group" role="tab">
					<div class="panel">
						<div class="panel-heading text-left">
							<a class="accordion-toggle" role="button" data-toggle="collapse"
								href="#" data-target="#collapseItem"> Items Information </a>
						</div>
						<div id="collapseItem" class="accordion-body collapse">
							<table class="table table-bordered">
	                            <thead>
	                                <tr>
	                                    <td class="text-center"><strong>Item Name</strong></td>
	                                    <td class="text-center"><strong>Item Rate</strong></td>
	                                    <td class="text-center"><strong>Item Quantity</strong></td>
	                                    <td class="text-right"><strong>Total</strong></td>
	                                </tr>
	                            </thead>
	                            <tbody id="itemBody">
	                            	<#list invoice.items as item>
	                                <tr id="itemRow">
	                                    <td class="text-center">${item.inventory.name}</td>
	                                    <td class="text-center">&#8377; ${item.inventory.rate}</td>
	                                    <td class="text-center">${item.quantity}</td>
	                                    <td class="text-right">&#8377; ${item.price}</td>
	                                </tr>
	                                </#list>
	                                <tr>
	                                    <td class="text-center"></td>
	                                    <td class="text-center"></td>
					                    <td class="text-center"><strong>Tax(${invoice.taxName})</strong></td>
	                                    <td class="text-right">${invoice.taxValue}%</td>
	                                </tr>
	                                <tr>
	                                    <td class="text-center"></td>
	                                    <td class="text-center"></td>
	                                    <td class="text-center"><strong>Discount</strong></td>
	                                    <td class="text-right">&#8377; ${invoice.discount}</td>
	                                </tr>
	                                <tr>
	                                    <td class="text-center"></td>
	                                    <td class="text-center"></td>
	                                    <td class="text-center"><strong>Pay Amount</strong></td>
	                                    <td class="text-right">&#8377; ${invoice.payAmount}</td>
	                                </tr>
	                            </tbody>
	                        </table>
						</div>
					</div>
				</div>
				<div class="row panel-default">
	                <div class="col-md-8 col-md-offset-2">
	                    <h3 class="section-heading">Hi ${invoice.consumer.name}, <span style="color:white;">${invoice.merchant.name}</span> has requested you to pay <span style="color:white;">&#8377; ${invoice.payAmount}</span></h3>
	                    <p>Proceed to make payment</p>
	                    <div class="row">
	                    	<form id="payForm" class="col-sm-6" action="/payment/return/${invoice.invoiceCode}" method="POST">
							<script
							    src="https://checkout.razorpay.com/v1/checkout.js"
							    data-key="${rzpKeyId}"
							    data-amount="${payAmount}"
							    data-buttontext="Pay &#8377; ${invoice.payAmount}"
							    data-name="${invoice.merchant.name}"
							    data-description="Invoice Request"
							    data-image="${banner}"
							    data-prefill.name="${invoice.consumer.name}"
							    data-prefill.email="${invoice.consumer.email}"
							    data-prefill.contact="${invoice.consumer.mobile}"
							    data-theme.color="#013487"
							></script>
							<input type="hidden" value="${invoice.invoiceCode}" name="invoiceCode">
							<#list invoice.customParams as param>
                                <input type="hidden" name="${param.paramName}" value="${param.paramValue}">
                            </#list>
							</form>
	                        <a href="/payment/decline/${invoice.invoiceCode}" class="col-sm-6"><button type="button" class="btn btn-warning">Decline</button></a>
	                    </div>
	                </div>
	            </div>
	            <hr>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="panel-group" role="tab">
					<div class="panel">
						<div class="panel-heading text-left">
							<a class="accordion-toggle" role="button" data-toggle="collapse"
								href="#" data-target="#collapseParams"> Params Information </a>
						</div>
						<div id="collapseParams" class="accordion-body collapse in">
							<table id="paramsTable" class="table table-bordered">
	                            <thead>
	                                <tr>
	                                    <td class="text-center"><strong>Name</strong></td>
	                                    <td class="text-center"><strong>Value</strong></td>
	                                </tr>
	                            </thead>
	                            <tbody class="text-center">
	                            	<#list invoice.customParams as param>
	                                <tr id="itemRow">
	                                    <td><label class="control-label">${param.paramName}</label></td>
	                                    <td><div class="form-group" style="margin:0px;"><input id="paramValue" ref="${param.paramName}" provider="${param.provider}" class="form-control text-center" value="${param.paramValue}"></div></td>
	                                </tr>
	                                </#list>
	                             </tbody>
	                         </table>
						</div>
					</div>
				</div>
			</div>
        </div>
    </section>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    	$(".razorpay-payment-button").addClass('btn btn-info');
    	var req = 0;
    	$("[id = paramValue]").each(function() {
    		var provider = $(this).attr("provider");
    		if(provider == 'MERCHANT') {
    			$(this).prop('disabled', true);
    		}
    		if(provider == 'CONSUMER' & $(this).val().trim() == '') {
    			req = req + 1;
    			$(this).parent().addClass(' has-error');
    		}
    	});
    	if(req > 0) {
			$(".razorpay-payment-button").prop('disabled', true);
			$(".razorpay-payment-button").attr('title', 'Set proper param values');
		}
    	$("[id = paramValue]").on("change",function() {
    		var paramValue = $(this).val();
    		var paramName = $(this).attr('ref');
    		$('[name = '+paramName+']').val(paramValue);
    		$(this).parent().removeClass(' has-error');
    		req = 0;
    		$("[id = paramValue]").each(function() {
        		var provider = $(this).attr("provider");
        		if(provider == 'CONSUMER' & $(this).val().trim() == '') {
        			req = req + 1;
        			$(this).parent().addClass(' has-error');
        		}
        	});
    		if(req > 0) {
    			$(".razorpay-payment-button").prop('disabled', true);
    			$(".razorpay-payment-button").attr('title', 'Set proper param values');
    		} else {
    			$(".razorpay-payment-button").prop('disabled', false);
    			$(".razorpay-payment-button").attr('title', 'Pay');
    		}
    	});
    });
    </script>
</body>
</html>