<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
    	#paySection {border:none;text-size:6px;}
    </style>
</head>
<body style="background:cadetblue;">
	<section id="paySection" style="margin-top:120px; font-size:16px;">
        <div class="container text-center">
			<div class="col-xs-12 col-sm-8">
				<div class="panel-group" role="tab">
					<div class="panel">
						<div class="panel-heading text-left">
							<a class="accordion-toggle" role="button" data-toggle="collapse"
								href="#" data-target="#collapseItem"> Items Information </a>
						</div>
						<div id="collapseItem" class="accordion-body collapse">
							<table class="table table-bordered">
	                            <thead>
	                                <tr>
	                                    <td class="text-center"><strong>Item Name</strong></td>
	                                    <td class="text-center"><strong>Item Rate</strong></td>
	                                    <td class="text-center"><strong>Item Quantity</strong></td>
	                                    <td class="text-right"><strong>Total</strong></td>
	                                </tr>
	                            </thead>
	                            <tbody id="itemBody">
	                            	{{#invoice.items}}
	                                <tr id="itemRow">
	                                    <td class="text-center">{{name}}</td>
	                                    <td class="text-center">{{rate}}</td>
	                                    <td class="text-center">{{quantity}}</td>
	                                    <td class="text-right">{{price}}</td>
	                                </tr>
	                                {{/invoice.items}}
	                                <tr>
	                                    <td class="text-center"></td>
	                                    <td class="text-center"></td>
	                                    <td class="emptyrow text-center"><strong>Shipping</strong></td>
	                                    <td class="text-right">{{invoice.shipping}}</td>
	                                </tr>
	                                <tr>
	                                    <td class="text-center"></td>
	                                    <td class="text-center"></td>
	                                    <td class="text-center"><strong>Discount</strong></td>
	                                    <td class="text-right">{{invoice.discount}}</td>
	                                </tr>
	                                <tr>
	                                    <td class="text-center"></td>
	                                    <td class="text-center"></td>
	                                    <td class="text-center"><strong>Final</strong></td>
	                                    <td class="text-right">{{invoice.payAmount}}</td>
	                                </tr>
	                            </tbody>
	                        </table>
						</div>
					</div>
				</div>
				<div class="row panel-default">
	                <div class="col-md-8 col-md-offset-2">
	                    <h3 class="section-heading">Hi {{consumer.name}}, <span style="color:white;">{{merchant.name}}</span> has requested you to pay <span style="color:white;">&#8377; {{invoice.payAmount}}</span></h3>
	                    <p>Proceed to make payment</p>
	                    <div class="row">
	                    	<form class="col-sm-6" action="/return/{{invoice.invoiceCode}}" method="POST">
							<script
							    src="https://checkout.razorpay.com/v1/checkout.js"
							    data-key="{{rzpKeyId}}"
							    data-amount="{{payAmount}}"
							    data-buttontext="Pay &#8377; {{invoice.payAmount}}"
							    data-name="{{merchant.name}}"
							    data-description="Invoice Request"
							    data-image="https://your-awesome-site.com/your_logo.jpg"
							    data-prefill.name="{{consumer.name}}"
							    data-prefill.email="{{consumer.email}}"
							    data-prefill.contact="{{consumer.mobile}}"
							    data-theme.color="#013487"
							></script>
							<input type="hidden" value="{{invoice.invoiceCode}}" name="invoiceCode">
							</form>
	                        <a class="col-sm-6"><button type="button" class="btn btn-warning">Decline</button></a>
	                    </div>
	                </div>
	            </div>
	            <hr>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="panel-group" role="tab">
					<div class="panel">
						<div class="panel-heading text-left">
							<a class="accordion-toggle" role="button" data-toggle="collapse"
								href="#" data-target="#collapseParams"> Params Information </a>
						</div>
						<div id="collapseParams" class="accordion-body collapse in">
							<table id="paramsTable" class="table table-bordered">
	                            <thead>
	                                <tr>
	                                    <td class="text-center"><strong>Name</strong></td>
	                                    <td class="text-center"><strong>Value</strong></td>
	                                </tr>
	                            </thead>
	                            <tbody class="text-center">
	                            	{{#invoice.customParams}}
	                                <tr id="itemRow">
	                                    <td><label>{{paramName}}</label></td>
	                                    <td><input class="text-center" value="{{paramValue}}"></td>
	                                </tr>
	                                {{/invoice.customParams}}
	                             </tbody>
	                         </table>
						</div>
					</div>
				</div>
			</div>
        </div>
    </section>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    	$(".razorpay-payment-button").addClass('btn btn-info');
    });
    </script>
</body>
</html>