<html>
<head>
	<title>Pay Invoice</title>
	<!-- <script type="text/javascript">
		window.onload = function() { document.payForm.submit() };
	</script> -->
</head>
<body>
	<form action="{{checkout}}" method="POST" name="payForm">
		<input type="text" name="merchantTxnId" value="{{merchantTxnId}}" />
		<input type="text" name="orderAmount" value="{{amount}}" />
		<input type="text" name="currency" value="{{currency}}" />
  	</form>
  	<div>Please Hold while we redirect you to Payment Page</div>
</body>
</html>