
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr { margin: 0px; padding: 0px; border: 0px; outline: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; text-align: left; background: transparent; }
ol, ul { list-style: none; }
.columnCommon { float: left; }
#report-layout table tr td.columnCommon { margin-top: 20px; text-align: center; }
.column-860 { width: 860px; }
.columnCommon { float: left; }
body { line-height: 1; text-align: left; color: rgb(51, 51, 51); background: rgb(238, 238, 238); }
.column-425 { width: 300px; }
.col-426 { width: 550px; }
.v-space { width: 10px; display: block; float: left; }
#custInvoice, #custInvoiceList { height: 535px; }
.emailInvoicing .boxWhite { min-height: 19px; margin-bottom: 10px; }
.emailInvoicing .boxWhite h2 { margin-bottom: 0px; }
.boxWhite { border: 1px solid rgb(170, 170, 170); padding: 10px; border-radius: 5px; min-height: 588px; background: rgb(255, 255, 255); }
.emailInvoicing .boxWhite { min-height: 19px; margin-bottom: 10px; }
.emailInvoicing .boxWhite h2 { margin-bottom: 0px; }
#custInvoiceList.boxWhite div#invoice-total-count-msg { padding-bottom: 10px; margin-left: 115px; font-size: 13px; font-weight: bold; }
#custInvoice, #custInvoiceList { height: 535px; }
h2 { font-family: Verdana, Geneva, sans-serif; color: rgb(102, 102, 102); font-size: 18px; line-height: 22px; margin-bottom: 18px; font-weight: normal; }
h3 { font-family: Verdana, Geneva, sans-serif; color: rgb(102, 102, 102); font-size: 13px; line-height: 18px; margin-bottom: 22px; font-weight: bold; }
a.btn-icon { display: block; float: left; width: 20px; margin-left: 12px; padding: 20px 0px 0px; overflow: hidden; height: 0px !important; background: url("/images/icons.png") 0px 0px no-repeat; }
.floatright { float: right !important; }
a.btn-icon.settings { background-position: -320px 0px; }
ul.form-wrapper1 label, ul.form-wrapper1 input, ul.form-wrapper1 div.labeltxt, ul.form-wrapper1 textarea.text { float: left; display: block; }
input[type="checkbox"] { -webkit-appearance: checkbox; }
ul.form-wrapper1.cust-inovice label { padding-right: 24px; line-height: 28px; color: rgb(149, 149, 149); font-weight: bold; }
ul.form-wrapper1 label, ul.form-wrapper1 input, ul.form-wrapper1 div.labeltxt, ul.form-wrapper1 textarea.text { float: left; display: block; }
.headDivinvoice { height: auto; position: relative; background-color: white; }
ul.form-wrapper1 li { clear: both; display: block; margin-bottom: 10px; min-height: 30px; }
.clearfix { display: block; }
.clearfix { zoom: 1 !important; }
ol, ul { list-style: none; }
.inputText { margin: 0px; padding: 0px; outline: 0px; border: 1px solid rgb(208, 208, 206); height: 28px; font-size: 12px; line-height: 28px; color: rgb(51, 51, 51); text-indent: 10px; }
input[type="text"]:focus { margin: 0px; padding: 0px; outline: 0px; border: 1px solid rgb(76, 55, 26); height: 28px; font-size: 12px; line-height: 28px; color: rgb(51, 51, 51); text-indent: 10px; box-shadow: rgb(104, 87, 62) 0px 0px 2px; background: rgb(230, 227, 220); }
.btn-orange, .ui-dialog-buttonpane .ui-dialog-buttonset .btn-orange { cursor: pointer; height: 30px; padding-left: 8px; padding-right: 8px; margin-right: 10px; color: rgb(255, 255, 255); -webkit-appearance: none; border-radius: 5px; position: relative; min-width: 75px; font-weight: normal; background: rgb(245, 147, 30); }
.naviLi { display: inline-block; padding: 15px 91.2px; border: 1px solid rgb(208, 208, 206); color: rgb(149, 149, 149); font-weight: bold; background: rgb(237, 237, 237); }
.emailaddDiv { padding-left: 20px; color: rgb(208, 208, 206); font-weight: bold; }
.selectedTab { border-bottom-color: white; background: white; }
.navmainDiv { height: 800px; border-radius: 5px; }
.navitab { height: 45px; }
.containInvoicingDiv { width: 99.1%; height: 756px; border: 1px solid rgb(208, 208, 206); margin-top: 2px; }
.rectangle { width: 80px; height: 45px; display: inline-block; border-radius: 5px; border: 1px solid rgb(208, 208, 206); cursor: pointer; }
hr { width: 95%; display: block; margin: 0.5em auto; border: 1px solid rgb(208, 208, 206); }
.gradiantBox { height: 165px; width: 92%; margin: 24px 21px; background: linear-gradient(to right, rgb(129, 129, 129), rgb(229, 229, 229)); }
.textEmailInvoicing { padding-left: 20px; padding-top: 30px; }
.rectangleWrap { display: inline-block; height: 45px; width: 80px; margin-left: 15px; }
.plusSymbolgrayRect { color: white; font-size: 22px; position: absolute; right: 7px; }
.plusSymbolUpload { color: white; font-size: 22px; position: absolute; right: 35px; top: 15px; }
.jqifade { position: absolute; background-color: rgb(144, 144, 144); }
div.jqi { width: 480px; position: absolute; border-radius: 10px; padding: 7px; background-color: rgb(255, 255, 255); }
div.jqi .jqicontainer { }
div.jqi .jqicloseBulk { position: absolute; top: 12px; right: 11px; width: 18px; cursor: default; color: rgb(187, 187, 187); font-weight: bold; display: block; font-size: 30px; }
div.jqi .jqimessage { padding: 10px; line-height: 20px; color: rgb(68, 68, 68); text-align: center; }
div.jqi .popMsg { line-height: 27px; font-size: 16px; color: rgb(68, 68, 68); text-align: center; }
div.jqi .popMsg b { font-size: 16px; }
div.jqi .jqibuttons { padding: 5px 0px; text-align: center; }
div.jqi button { margin: 0px 10px 0px 0px; padding: 0px 8px; border: 0px; outline: 0px; font-family: Arial, Helvetica, sans-serif; cursor: pointer; height: 30px; color: rgb(255, 255, 255); border-radius: 5px; position: relative; min-width: 75px; background: rgb(245, 147, 30); }
div.jqi button.jqidefaultbutton { margin: 0px 10px 0px 0px; padding: 0px 16px; border: 0px; outline: 0px; font-family: Arial, Helvetica, sans-serif; cursor: pointer; height: 30px; color: rgb(255, 255, 255); border-radius: 5px; position: relative; background: rgb(76, 55, 26); }
.jqiwarning .jqi .jqibuttons { background-color: rgb(204, 204, 204); }
.jqi .jqiarrow { position: absolute; height: 0px; width: 0px; line-height: 0; font-size: 0px; border: 10px solid transparent; }
.jqi .jqiarrowtl { left: 10px; top: -20px; border-bottom-color: rgb(255, 255, 255); }
.jqi .jqiarrowtc { left: 50%; top: -20px; border-bottom-color: rgb(255, 255, 255); margin-left: -10px; }
.jqi .jqiarrowtr { right: 10px; top: -20px; border-bottom-color: rgb(255, 255, 255); }
.jqi .jqiarrowbl { left: 10px; bottom: -20px; border-top-color: rgb(255, 255, 255); }
.jqi .jqiarrowbc { left: 50%; bottom: -20px; border-top-color: rgb(255, 255, 255); margin-left: -10px; }
.jqi .jqiarrowbr { right: 10px; bottom: -20px; border-top-color: rgb(255, 255, 255); }
.jqi .jqiarrowlt { left: -20px; top: 10px; border-right-color: rgb(255, 255, 255); }
.jqi .jqiarrowlm { left: -20px; top: 50%; border-right-color: rgb(255, 255, 255); margin-top: -10px; }
.jqi .jqiarrowlb { left: -20px; bottom: 10px; border-right-color: rgb(255, 255, 255); }
.jqi .jqiarrowrt { right: -20px; top: 10px; border-left-color: rgb(255, 255, 255); }
.jqi .jqiarrowrm { right: -20px; top: 50%; border-left-color: rgb(255, 255, 255); margin-top: -10px; }
.jqi .jqiarrowrb { right: -20px; bottom: 10px; border-left-color: rgb(255, 255, 255); }
.icon-settingDiv { display: inline-block; position: absolute; right: 0px; top: -39px; z-index: 1000; width: 45px; height: 45px; border-radius: 5px 5px 0px 0px; background-color: rgb(255, 255, 255); }
.icon-setting { width: 20px; display: inline-block; height: 20px; margin: 11px 11px auto; background: url("/images/icons.png") -320px 0px no-repeat rgb(255, 255, 255); }
ul.form-wrapper1.add-merchant label { width: 200px; padding-right: 10px; font-weight: normal; line-height: 28px; color: rgb(51, 51, 51); }
ul.form-wrapper1.add-merchant input.text { width: 240px; }
input.text { margin: 0px; padding: 0px; outline: 0px; border: 1px solid rgb(208, 208, 206); height: 28px; font-size: 12px; line-height: 28px; color: rgb(51, 51, 51); text-indent: 10px; border-radius: 5px; background: rgb(230, 227, 220); }
.EmailInvoiceSection { display: block; color: rgb(51, 51, 51); text-indent: 5px; margin-bottom: 3px; }
.MobileInvoiceSection { display: block; color: rgb(51, 51, 51); text-indent: 5px; margin-bottom: 3px; padding-top: 20px; }
.uploadContain { border-right-width: 1px; border-right-style: solid; border-right-color: rgb(208, 208, 206); display: inline-block; height: 245px; width: 50%; position: absolute; margin-top: 30px; }
.uploadImg { width: 100px; height: 100px; display: inline-block; margin: 59px 78px; position: absolute; cursor: pointer; background: url("../images/upload_logo.png"); }
.downloadImg { width: 100px; height: 100px; display: inline-block; margin: 59px 78px; position: absolute; background: url("../images/download_logo.png"); }
.uploadText { height: 100px; width: 59%; display: inline-block; margin: 170px 51px; position: absolute; font-size: 16px; line-height: 20px; text-align: center; font-weight: bold; color: rgb(208, 208, 206); }
.selectedRectangle { border: 1px solid black; }
.TemplateText { color: rgb(121, 121, 121); text-align: center; font-weight: bold; }
.tipsy { font-size: 11px; position: absolute; padding: 6px; z-index: 100000; }
.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top-width: 0px; border-left-color: transparent; border-right-color: transparent; }
.tipsy-arrow-n { border-bottom-color: rgb(202, 196, 188); }
.tipsy-arrow { position: absolute; width: 0px; height: 0px; line-height: 0; border: 6px dashed rgb(202, 196, 188); }
.tipsy-name-text, .tipsy-altermobile-text, .tipsy-mobile-text, .tipsy-emailid-text, .tipsy-amount-text, .tipsy-maxpay-text, .tipsy-validity-text { max-width: 200px; padding: 8px 10px 6px 8px; text-align: center; font-size: 11px; border-radius: 5px; box-shadow: rgb(104, 87, 62) 0px 0px 2px; display: block; background: rgb(238, 238, 238); }
.error { margin: 0px; padding: 0px; outline: 0px; border: 1px solid rgb(233, 104, 99); height: 28px; font-size: 12px; line-height: 28px; text-indent: 10px; box-shadow: rgb(233, 104, 99) 0px 0px 1px; background: rgb(230, 227, 220); }
#custInvoiceList.box-white div#invoice-total-count-msg { padding-bottom: 10px; margin-left: 115px; font-size: 13px; font-weight: bold; }
#custInvoiceList-wrapper { height: 713px; }
.jspContainer { overflow: hidden; position: relative; }
.jspPane { position: absolute; }
* { box-sizing: border-box; font-family: 'Open Sans', sans-serif; font-weight: 300; }
a { text-decoration: none; color: inherit; }
p { font-size: 1.1em; margin: 1em 0px; }
h1 { font-family: Pacifico, cursive; font-weight: 400; font-size: 2.5em; }
ul { list-style: none; padding: 0px; }
ul .inner { display: none; }
.show { visibility: visible !important; }
ul li { margin: 0.5em 0px; }
ul li a.toggle { display: block; text-indent: 10px; color: rgb(255, 255, 255); padding: 10px 0px; position: relative; background-color: rgb(153, 153, 153); }
ul li a.toggle:hover { opacity: 0.8; }
.scroll-pane { height: 677px !important; width: 100% !important; }
.jspContainer { width: 100% !important; }
.containInvoicingDiv { width: auto; height: 730px; border: 1px solid rgb(208, 208, 206); margin-top: 8px; }
.msg-item.open .msg-title { padding: 8px; cursor: pointer; border: 1px solid rgb(215, 215, 215); font-size: 12px; line-height: 12px; border-radius: 5px 5px 0px 0px; position: relative; width: 260px; background: linear-gradient(rgb(236, 236, 236), rgb(236, 236, 236)); }
.msg-item .msg-title { padding: 8px; cursor: pointer; width: 260px; border: 1px solid rgb(215, 215, 215); font-size: 12px; line-height: 12px; border-radius: 5px; position: relative; color: rgb(51, 51, 51); background: white; }
.msg-item .msg-title.active-chip { background: rgb(236, 236, 236); }
.msg-item, .msg-item.open { padding: 1px 0px 9px; float: left; }
.msg-item.open .msg-content { display: block; }
.msg-item .msg-content { display: none; }
.msg-item.open .msg-title span.date { float: right; }
.msg-item .msg-title span.date { float: right; color: rgb(153, 153, 153); max-width: 70px; }
.msg-item.open .msg-title img.arrow { background-position: -13px 0px; }
.msg-item .msg-title img.arrow { top: 2px; background-position: 0px 0px; }
.msg-item .msg-title span.invoice-no { color: rgb(51, 51, 51); }
.msg-item.open .msg-wrapper { border-left-width: 1px; border-left-style: solid; border-left-color: rgb(215, 215, 215); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(215, 215, 215); padding: 8px 20px; width: 236px; word-break: break-word; }
.msg-item .msg-wrapper { border-left-width: 1px; border-left-style: solid; border-left-color: rgb(215, 215, 215); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(215, 215, 215);border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(215, 215, 215);border-top-width: 1px; border-top-style: solid; border-top-color: rgb(215, 215, 215); padding: 8px; width: 260px; word-wrap: break-word; }
.msg-item.open .msg-header { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); margin-bottom: 10px; width: 260px; }
.msg-item .msg-header { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); margin-bottom: 10px; }
.msg-item.open .msg-wrapper p, .msg-item .msg-wrapper a { color: rgb(153, 153, 153); line-height: 10px; width: 260px; }
.msg-item .msg-wrapper p, .msg-item .msg-wrapper a { color: rgb(153, 153, 153); line-height: 20px; }
.msg-item .msg-footer { width:260px;padding: 8px; border: 1px solid rgb(215, 215, 215); font-size: 12px; line-height: 12px; color: rgb(102, 102, 102); border-radius: 0px 0px 5px 5px; float: left; background: rgb(236, 236, 236); }
.btn-orange, .ui-dialog-buttonpane .ui-dialog-buttonset .btn-orange { cursor: pointer; height: 30px; padding-left: 8px; padding-right: 8px; margin-right: 10px; color: rgb(255, 255, 255); -webkit-appearance: none; border-radius: 5px; position: relative; min-width: 75px; font-weight: normal; background: rgb(245, 147, 30); }
input { margin: 0px 4px 0px 0px; padding: 0px; border: 0px; outline: 0px; font-family: Arial, Helvetica, sans-serif; }
ul.form-wrapper1.cust-inovice label { color: rgb(51, 51, 51); font-weight: bold; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; text-align: left; background: transparent; }
.msg-item.open .msg-wrapper strong { color: rgb(102, 102, 102); }
p { margin-bottom: 8px; }
.wrapperCommondiv a { color: rgb(122, 174, 234); }
#custInvoiceList-wrapper { height: 220px; }
ul.form-wrapper1.cust-inovice label.InvoiceLable { margin-right: 20px; display: inline-block; }
ul.form-wrapper1.cust-inovice label.InvoiceLable input { margin-right: 5px; }
b { font-weight: bold; }
.EmailInvoiceSection, .MobileInvoiceSection { text-indent: 0px; }
ul.form-wrapper1.cust-inovice label.textareaLabel { display: inline-block; margin: 10px 0px; }
ul.form-wrapper1.cust-inovice label.textareaLabel input { margin-right: 5px; }
.jspContainer { overflow: hidden; position: relative; }
.jspPane { position: absolute; }