<div id="addSubscriptionMode" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add New Subscription Mode</h4>
			</div>
			<div class="modal-body" style="padding: 20px;">
				<form name="createSubsModeForm">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="checkbox-inline"><input type="checkbox" ng-model="newsubsmode.active" />Activate</label>
							</div>
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div ng-class="(createSubsModeForm.name.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Name</label>
												<input class="form-control" ng-model="newsubsmode.name" name="name" placeholder="Name" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createSubsModeForm.payMode.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Pay Mode</label>
												<select class="form-control" name="payMode" ng-model="newsubsmode.payMode">
													<option ng-repeat="payMode in payModes" value="{{payMode}}">{{payMode}}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createSubsModeForm.rzpMerchantId.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Razorpay Merchant Id</label>
												<input class="form-control" ng-model="newsubsmode.rzpMerchantId" name="rzpMerchantId" placeholder="Razorpay Merchant Id" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createSubsModeForm.rzpKeyId.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Razorpay Key Id</label>
												<input class="form-control" ng-model="newsubsmode.rzpKeyId" name="rzpKeyId" placeholder="Razorpay Key Id" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createSubsModeForm.rzpSecretId.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Razorpay Secret Id</label>
												<input class="form-control" ng-model="newsubsmode.rzpSecretId" name="rzpSecretId" placeholder="Razorpay Secret Id" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="createSubsMode()">Create</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>