<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link href="${staticUrl}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="${staticUrl}/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="${staticUrl}/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="${staticUrl}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="${staticUrl}/vendor/angular/angular-material.min.css" rel="stylesheet">
    <script src="${staticUrl}/vendor/jquery/jquery.min.js"></script>
    <script src="${staticUrl}/vendor/angular/angular.js"></script>
	<script src="${staticUrl}/vendor/angular/angular-route.js"></script>
	<script src="${staticUrl}/vendor/angular/angular-cookies.js"></script>
	<script src="${staticUrl}/vendor/angular/angular-animate.min.js"></script>
  	<script src="${staticUrl}/vendor/angular/angular-aria.min.js"></script>
  	<script src="${staticUrl}/vendor/angular/angular-messages.min.js"></script>
  	<script src="${staticUrl}/vendor/angular/angular-material.min.js"></script>
	<script src="/angular/admin/admin-ctrl.js"></script>
	<script src="/angular/common/dashboard-ctrl.js"></script>
	<script src="/angular/admin/merchant-ctrl.js"></script>
	<script src="/angular/admin/invoice-ctrl.js"></script>
	<script src="/angular/common/payment-ctrl.js"></script>
	<script src="/angular/admin/subscription-ctrl.js"></script>
	<script src="/angular/admin/pricing-ctrl.js"></script>
	<script src="/angular/common/reports-ctrl.js"></script>
	<script src="/angular/common/users-ctrl.js"></script>
	<script src="/angular/admin/admin-setting-ctrl.js"></script>
	<!-- <script src="/angular/common/my-invoices-ctrl.js"></script> -->
	<script src="/angular/common/profile-ctrl.js"></script>
</head>
<body ng-app="payCrAdminApp" ng-controller="AdminController" ng-cloak>
    <div ng-init="prepare()" style="background:lightyellow;" id="wrapper">
        <div ng-include="templateUrl('admin','nav')" style="position:relative;"></div>
        <div class="tab-content" id="page-wrapper">
    		<div ng-include="templateUrl('common','alert')"></div>
    		<div ng-if="user.access.supervisor" id="dashboardTab" class="tab-pane active" ng-include="templateUrl('common','dashboardTab')"></div>
            <div ng-class="(user.access.supervisor)?'':'active'" id="merchantsTab" class="tab-pane" ng-include="templateUrl('admin','merchantTab')"></div>
        	<div id="invoiceTab" class="tab-pane fade" ng-include="templateUrl('admin','invoiceTab')"></div>
        	<div ng-if="user.access.finance" id="paymentTab" class="tab-pane" ng-include="templateUrl('common','paymentTab')"></div>
        	<div ng-if="user.access.finance" id="subscriptionTab" class="tab-pane fade" ng-include="templateUrl('admin','subscriptionTab')"></div>
        	<div ng-if="user.access.finance" id="pricingTab" class="tab-pane fade" ng-include="templateUrl('admin','pricingTab')"></div>
		    <div ng-if="user.access.ops" id="reportsTab" class="tab-pane fade" ng-include="templateUrl('common','reportsTab')"></div>
		    <div ng-if="user.access.supervisor" id="usersTab" class="tab-pane fade" ng-include="templateUrl('common','usersTab')"></div>
		    <div ng-if="user.access.supervisor" id="settingsTab" class="tab-pane fade" ng-include="templateUrl('admin','adminSettingTab')"></div>
        	<div id="profileTab" class="tab-pane fade" ng-include="templateUrl('common','profileTab')"></div>
        	<!-- <div id="myInvoicesTab" class="tab-pane fade" ng-include="templateUrl('common','myInvoicesTab')"></div> -->
    	</div>
	    <div ng-if="user.access.supervisor" ng-include="templateUrl('admin','createMerchantModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('admin','createPricingModal')"></div>
		<div ng-if="user.access.supervisor" ng-include="templateUrl('admin','createOfflineSubsModal')"></div>
		<div ng-if="user.access.supervisor" ng-include="templateUrl('common','createUserModal')"></div>
		<div ng-if="user.access.ops" ng-include="templateUrl('common','createReportXsModal')"></div>
		<div ng-if="user.access.ops" ng-include="templateUrl('common','recurrReportModal')"></div>
		<div ng-include="templateUrl('common','invoiceInfoModal')"></div>
		<div ng-include="templateUrl('common','invoicePaymentModal')"></div>
		<div ng-include="templateUrl('admin','subsDetailsModal')"></div>
		<div ng-include="templateUrl('common','changePasswordModal')"></div>
	</div>
    <script src="${staticUrl}/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="${staticUrl}/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="${staticUrl}/dist/js/sb-admin-2.js"></script>
    <script src="${staticUrl}/js/moment.js"></script>
	<script src="${staticUrl}/vendor/raphael/raphael.min.js"></script>
	<script src="${staticUrl}/vendor/morrisjs/morris.min.js"></script>
</body>
</html>
