<div ng-controller="AdminSettingController">
	<br>
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading"> Payment Setting
					<a href="#" ng-click="$parent.editPayPrefs = !$parent.editPayPrefs">
						<span class="btn glyphicon glyphicon-edit" style="float: right; padding: 0px;"></span>
					</a>
				</div>
				<div class="panel-body">
					<fieldset ng-disabled="!editPayPrefs">
						<div class="form-group">
							<label class="control-label">RazorPay Merchant Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpMerchantId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Key Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpKeyId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Secret Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpSecretId" />
						</div>
						<div class="form-group">
							<label class="control-label">Tax Name</label>
							<input class="form-control" ng-model="adminSetting.taxName" required />
						</div>
						<div class="form-group">
							<label class="control-label">Tax Value %</label>
							<input class="form-control" ng-model="adminSetting.taxValue" type="number" required />
						</div>
						<div>
							<button ng-click="saveAdminSetting(adminSetting)" class="btn btn-info">Save</button>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Banner (80x80)</label>
				<input type="file" onchange="angular.element(this).scope().uploadBanner(this.files)" accept=".png,.jpg" />
			</div>
			Uploaded File -> <a target="_blank" href="/banner/admin/{{adminSetting.banner}}">{{adminSetting.banner}}</a>
		</div>
		<br>
	</div>
</div>