<div ng-controller="AdminSettingController">
	<div class="panel-body">
		<div class="col-sm-4">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h5 class="box-title">Payment Setting</h5>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-flat btn-xs btn-warning" ng-click="$parent.editAdminSets = !$parent.editAdminSets" title="Edit">
							<i class="fa fa-pencil"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<fieldset ng-disabled="!editAdminSets">
						<div class="form-group">
							<label class="control-label">RazorPay Merchant Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpMerchantId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Key Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpKeyId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Secret Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpSecretId" />
						</div>
						<div class="form-group">
							<label class="control-label">Tax Name</label>
							<input class="form-control" ng-model="adminSetting.taxName" required />
						</div>
						<div class="form-group">
							<label class="control-label">Tax Value %</label>
							<input class="form-control" ng-model="adminSetting.taxValue" type="number" required />
						</div>
					</fieldset>
				</div>
				<div ng-if="editAdminSets" class="box-footer">
		        	<div class="input-group">
		            	<span class="input-group-btn">
		                   	<button ng-click="updateInventory(inventory)" class="btn btn-info">Save</button>
		               	</span>
		            </div>
		        </div>
			</div>
			<div class="form-group">
				<label class="control-label">Banner (80x80)</label>
				<input type="file" onchange="angular.element(this).scope().uploadBanner(this.files)" accept=".png,.jpg" />
			</div>
			Uploaded File -> <a target="_blank" href="/banner/admin/{{adminSetting.banner}}">{{adminSetting.banner}}</a>
		</div>
		<br>
	</div>
</div>