<div ng-controller="AdminSettingController" ng-init="loadAdminSetting()">
	<br>
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading"> Payment Setting
					<a href="#" ng-click="$parent.editPayPrefs = !$parent.editPayPrefs">
						<span class="btn glyphicon glyphicon-edit" style="float: right; padding: 0px;"></span>
					</a>
				</div>
				<div class="panel-body">
					<fieldset ng-disabled="!editPayPrefs">
						<div class="form-group">
							<label class="control-label">RazorPay Merchant Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpMerchantId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Key Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpKeyId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Secret Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpSecretId" />
						</div>
						<div class="form-group">
							<label class="control-label">Tax %</label>
							<input class="form-control" ng-model="adminSetting.tax" type="number" required />
						</div>
						<div>
							<button ng-click="saveAdminSetting(adminSetting)" class="btn btn-info">Save</button>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>