<div id="createOfflineSubsModal" ng-controller="MerchantController" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">New Offline Subscription : <span><strong>{{offSubsmerchant.name}}</strong></span></h4>
			</div>
			<div class="modal-body">
				<form name="createOfflineSubsForm">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Subscription Mode</label>
												<select class="form-control" ng-model="offlinesubs.subscriptionModeId">
													<option ng-repeat="subsMode in subsModes" ng-if="subsMode.payMode != 'PAYCR' && subsMode.active" value="{{subsMode.id}}">{{subsMode.name}}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Pricing</label>
												<select class="form-control" ng-model="offlinesubs.pricingId">
													<option ng-repeat="pricing in pricings" value="{{pricing.id}}">{{pricing.name}}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createOfflineSubsForm.paymentRefNo.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Payment Reference Number</label>
												<input class="form-control" ng-model="offlinesubs.paymentRefNo" name="paymentRefNo" placeholder="Payment Ref No" ng-pattern="patterns.namePattern" required/>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createOfflineSubsForm.quantity.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Quantity</label>
												<input class="form-control" ng-model="offlinesubs.quantity" name="quantity" type="number" placeholder="Quantity" ng-pattern="patterns.numberPattern" step="1" required/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="createOfflineSubs(offSubsmerchant.id)">Create</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>