<div ng-controller="InvoiceController" ng-init="searchInvoice()">
	<br>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel">
				<div class="panel-body col-lg-3 col-sm-12 col-xs-12">
					<table class="table table-striped table-bordered table-hover table-responsive">
						<tbody>
							<tr>
								<td>
									<div class="form-group">
										<label class="control-label">Created between</label>
										<md-datepicker ng-model="searchInvoiceReq.createdFrom"></md-datepicker>
										<br><span>&nbsp;&nbsp;and</span><br>
										<md-datepicker ng-model="searchInvoiceReq.createdTo"></md-datepicker>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-group">
										<label class="control-label">Merchant Id</label>
										<input class="form-control" ng-model="searchInvoiceReq.merchant" type="number" placeholder="1000" step="1" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-group">
										<label class="control-label">Invoice Code</label>
										<input class="form-control" ng-model="searchInvoiceReq.invoiceCode" placeholder="invoiceCode" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-group">
										<label class="control-label">Invoice Status</label>
										<select class="form-control" ng-model="searchInvoiceReq.invoiceStatus">
											<option ng-repeat="invoiceStatus in invoiceStatuses" value="{{invoiceStatus}}">{{invoiceStatus}}</option>
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-group">
										<label class="control-label">Consumer Email</label>
										<input class="form-control" ng-model="searchInvoiceReq.email" placeholder="name@email.com" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-group">
										<label class="control-label">Consumer Mobile</label>
										<input class="form-control" ng-model="searchInvoiceReq.mobile" type="number" placeholder="9999999999" />
									</div>
								</td>
							</tr>
							<tr>
								<td><button ng-click="searchInvoice()" type="button" class="btn btn-info">Search</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-body col-lg-9 col-sm-12 col-xs-12">
					<table class="table table-striped table-bordered table-hover table-responsive">
						<thead>
							<tr>
								<th>Merchant Id</th>
								<th>Invoice Code</th>
								<th>Amount</th>
								<th>Type</th>
								<th class="hidden-xs">Status</th>
							</tr>
						</thead>
						<tbody ng-repeat="invoice in invoiceResp.invoiceList">
							<tr
								ng-class="(invoice.status=='PAID')?'success':(invoice.status=='EXPIRED')?'basic':(invoice.status=='DECLINED')?'danger':'warning'"
								data-toggle="collapse"
								data-target="#invdetails-{{invoice.invoiceCode}}"
								class="accordion-toggle">
								<td>{{invoice.merchant.id}}</td>
								<td>{{invoice.invoiceCode}}</td>
								<td>&#8377; {{invoice.payAmount}}</td>
								<td>{{invoice.invoiceType}}</td>
								<td class="hidden-xs">{{invoice.status}}</td>
							</tr>
							<tr>
								<td colspan="12" style="padding:0px;border:0px;">
									<div style="padding:10px" class="accordion-body collapse" id="invdetails-{{invoice.invoiceCode}}">
										<div class="row">
											<div class="col-lg-6">
												<button ng-click="updateInvoiceInfo(invoice)" title="Info" type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#invoiceInfoModal">
													<i class="fa fa-info"></i>
												</button>
												<button ng-click="updateInvoiceInfo(invoice)" title="Payments" type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#invoicePaymentModal">
													&#8377;
												</button>
												<a title="Download Pdf" type="button" class="btn btn-default btn-md" href="/invoice/receipt/download/{{invoice.invoiceCode}}">
													<i class="fa fa-file-pdf-o"></i>
												</a>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-sm-12 col-xs-12">
												<h5>Amount Details</h5>
												<table class="table table-striped table-bordered table-responsive">
													<tbody>
														<tr>
															<td><strong>Total</strong></td>
															<td>&#8377; {{invoice.total}}</td>
														</tr>
														<tr>
															<td><strong>Tax({{invoice.taxName}})</strong> : {{invoice.taxValue}}%</td>
															<td><strong>Discount</strong> : &#8377; {{invoice.discount}}</td>
														</tr>
														<tr>
															<td><strong>Pay Amount</strong></td>
															<td>&#8377; {{invoice.payAmount}}</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="col-lg-6 col-sm-12 col-xs-12">
												<h5>Payment Details</h5>
												<table class="table table-striped table-bordered table-responsive">
													<tbody>
														<tr>
															<td><strong>Payment Ref No</strong></td>
															<td>{{invoice.payment.paymentRefNo}}</td>
														</tr>
														<tr>
															<td><strong>Pay Mode</strong></td>
															<td>{{invoice.payment.method}}</td>
														</tr>
														<tr>
															<td><strong>Status</strong></td>
															<td>{{invoice.payment.status}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-sm-12 col-xs-12">
												<h5>Merchant Details</h5>
												<table class="table table-striped table-bordered table-responsive">
													<thead>
														<tr>
															<th class="hidden-xs">Name</th>
															<th>Email</th>
															<th>Mobile</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="hidden-xs">{{invoice.merchant.name}}</td>
															<td>{{invoice.merchant.email}}</td>
															<td>{{invoice.merchant.mobile}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-sm-12 col-xs-12">
												<h5>Consumer Details</h5>
												<table class="table table-striped table-bordered table-responsive">
													<thead>
														<tr>
															<th class="hidden-xs">Name</th>
															<th>Email</th>
															<th>Mobile</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="hidden-xs">{{invoice.consumer.name}}</td>
															<td>{{invoice.consumer.email}}</td>
															<td>{{invoice.consumer.mobile}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pagination" style="float:right;">
						<li ng-class="(invoiceResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="loadInvoicePage(invoiceResp.page-1)" href="#">Previous</a></li>
						<li ng-repeat="page in invoiceResp.allPages" ng-class="(page == invoiceResp.page)?'active':''"><a ng-click="loadInvoicePage(page)" href="#">{{page}}</a></li>
						<li ng-class="(invoiceResp.page >= invoiceResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="loadInvoicePage(invoiceResp.page+1)" href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>