<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0;background:darksalmon;">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
		<strong><a class="navbar-brand" href="/admin">PayCr</a></strong>
	</div>
	<ul class="nav navbar-top-links navbar-right">
		<li><strong>{{user.name}}</strong></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-bell fa-fw"></i>
				<i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-alerts">
				<li ng-repeat="notice in notices" class="panel">
					<a href="#">
						<div>
							<i class="fa fa-comment fa-fw"></i> {{notice.subject}} <span class="pull-right text-muted small">{{notice.created | date:'dd-MM-yyyy HH:mm'}}</span>
						</div>
						<hr style="margin: 0px;">
						<div>
							<p>{{notice.message}}</p>
						</div>
					</a>
				</li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-user fa-fw"></i>
				<i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
			</ul>
		</li>
	</ul>
	<div class="sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse collapse">
			<ul class="nav" id="side-menu">
				<li ng-if="user.access.supervisor" class="active"><a href="#" data-target="#dashboardTab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
				<li ng-class="(user.access.supervisor)?'':'active'"><a href="#" data-target="#merchantsTab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> Merchants</a></li>
				<li><a href="#" data-target="#invoiceTab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> Invoices</a></li>
				<li ng-if="user.access.finance"><a href="#" data-target="#subscriptionTab" data-toggle="tab"><i class="fa fa-rupee fa-fw"></i> Subscriptions</a></li>
				<li ng-if="user.access.finance"><a href="#" data-target="#pricingTab" data-toggle="tab"><i class="fa fa-rupee fa-fw"></i> Pricing</a></li>
				<li ng-if="user.access.ops"><a href="#" data-target="#reportsTab" data-toggle="tab"><i class="fa fa-print fa-fw"></i> Reports</a></li>
				<li ng-if="user.access.supervisor"><a href="#" data-target="#usersTab" data-toggle="tab"><i class="fa fa-user fa-fw"></i> Users</a></li>
				<li ng-if="user.access.supervisor"><a href="#" data-target="#settingsTab" data-toggle="tab"><i class="fa fa-print fa-fw"></i> Settings</a></li>
				<br><br>
				<li><a href="#" data-target="#profileTab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> Profile</a></li>
				<li><a href="#" data-target="#myInvoicesTab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> My Invoices</a></li>
			</ul>
		</div>
	</div>
</nav>