<div ng-controller="DashboardController" id="dashboardTab" ng-init="loadDashboard()">
	<div class="row">
		<div class="panel-body col-md-12">
			<div class="form-group">
				<div class="col-xs-6 col-sm-3">
					<select class="form-control" ng-model="timeRange" ng-init="timeRange = 'LAST_WEEK'">
						<option value="LAST_WEEK">Last Week</option>
						<option value="LAST_MONTH">Last Month</option>
					</select>
				</div>
				<div class="col-xs-3 col-sm-2">
					<button class="btn btn-primary" ng-click="loadDashboard()">Load</button>
				</div>
			</div>
			<hr>
			<div class="panel-body text-center">
				<div class="col-lg-12">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-yellow">
								<i class="fa fa-times"></i>
							</span>
							<div class="info-box-content">
								<span class="info-box-text">Declined</span>
								<span class="info-box-number">{{statsResponse.declinedInvCount}} (<span class="text-yellow"><i class="fa fa-rupee"></i> <strong>{{statsResponse.declinedInvSum}}</strong></span>)</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon basic">
								<i class="fa fa-stop-circle"></i>
							</span>
							<div class="info-box-content">
								<span class="info-box-text">Expired</span>
								<span class="info-box-number">{{statsResponse.expiredInvCount}} (<span class="text-muted"><i class="fa fa-rupee"></i> <strong>{{statsResponse.expiredInvSum}}</strong></span>)</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-green">
								<i class="fa fa-check"></i>
							</span>
							<div class="info-box-content">
								<span class="info-box-text">Paid</span>
								<span class="info-box-number">{{statsResponse.salePayCount}} (<span class="text-green"><i class="fa fa-rupee"></i>{{statsResponse.salePaySum}}</span>)</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-red">
								<i class="fa fa-mail-reply"></i>
							</span>
							<div class="info-box-content">
								<span class="info-box-text">Refund</span>
								<span class="info-box-number">{{statsResponse.refundPayCount}} (<span class="text-red"><i class="fa fa-rupee"></i> <strong>{{statsResponse.refundPaySum}}</strong></span>)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body row">
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">Payment/Refund per day</div>
						<div class="panel-body">
							<div id="per-day-bar"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="panel panel-default">
						<div class="panel-heading">Distribution by amount</div>
						<div class="panel-body">
							<div id="amount-donut"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="panel panel-default">
						<div class="panel-heading">Distribution by count</div>
						<div class="panel-body">
							<div id="count-donut"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>