<div ng-controller="ReportsController" ng-init="fetchReports()">
	<br>
	<div class="row text-center">
		<div class="col-md-12">
			<h4>Reports</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<td class="text-center hidden-xs"><strong>Name</strong></td>
						<td class="text-center"><strong>Time Range</strong></td>
						<td class="text-center"><strong>Pay Type</strong></td>
						<td class="text-center"><strong>Pay Mode</strong></td>
						<td class="text-center"><strong>Pay Status</strong></td>
						<td class="text-center"><strong>Actions</strong></td>
					</tr>
				</thead>
				<tbody id="itemBody">
					<tr class="warning hidden-xs">
						<td><input class="form-control" placeholder="name" ng-model="newreport.name" required></td>
						<td>
							<select class="form-control" ng-model="newreport.timeRange">
								<option ng-repeat="timeRange in timeRanges" value="{{timeRange}}">{{timeRange}}</option>
							</select>
						</td>
						<td>
							<select class="form-control" ng-model="newreport.payType">
								<option ng-repeat="payType in payTypes" value="{{payType}}">{{payType}}</option>
							</select>
						</td>
						<td>
							<select class="form-control" ng-model="newreport.payMode">
								<option ng-repeat="payMode in payModes" value="{{payMode}}">{{payMode}}</option>
							</select>
						</td>
						<td>
							<select class="form-control" ng-model="newreport.payStatus">
								<option ng-repeat="payStatus in payStatuses" value="{{payStatus}}">{{payStatus}}</option>
							</select>
						</td>
						<td>
							<button ng-click="createReport()" type="button" class="btn btn-success btn-xs">Create</button>
							<button ng-click="loadReport(newreport)" type="button" class="btn btn-success btn-xs">Load</button>
						</td>
					</tr>
					<tr ng-class="(report.merchant!=null)?'success':''" ng-repeat="report in reports">
						<td class="hidden-xs">{{report.name}}</td>
						<td>{{report.timeRange}}</td>
						<td>{{report.payType}}</td>
						<td>{{report.payMode}}</td>
						<td>{{report.payStatus}}</td>
						<td>
							<button ng-click="loadReport(report)" type="button" class="btn btn-success btn-xs">Load</button>
							<button ng-if="report.merchant!=null" ng-click="deleteReport(report.id, report.name)" type="button" class="btn btn-danger btn-xs">
								<i class="fa fa-times"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<div ng-if="invoiceReports != null" class="panel panel-default">
				<div class="panel-heading">Invoice Report ({{loadedreport.name}})
					<span style="float: right;">
						<a title="Download CSV" type="button" class="btn btn-info btn-xs" ng-click="downloadReport(loadedreport)">
							<i class="fa fa-book"></i>
						</a>
					</span>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<td class="text-center"><strong>Created</strong></td>
								<td class="text-center hidden-xs"><strong>Invoice Code</strong></td>
								<td class="text-center"><strong>Amount</strong></td>
								<td class="text-center"><strong>Currency</strong></td>
								<td class="text-center hidden-xs"><strong>Invoice Status</strong></td>
								<td class="text-center hidden-xs"><strong>Payment Ref No</strong></td>
								<td class="text-center"><strong>Pay Type</strong></td>
								<td class="text-center"><strong>Pay Mode</strong></td>
								<td class="text-center hidden-xs"><strong>Pay Method</strong></td>
								<td class="text-center hidden-xs"><strong>Pay Status</strong></td>
							</tr>
						</thead>
						<tbody id="itemBody">
							<tr ng-repeat="invoiceReport in reportsResp.invoiceReports">
								<td>{{invoiceReport.created | date:'dd-MM-yyyy HH:mm'}}</td>
								<td class="hidden-xs">{{invoiceReport.invoiceCode}}</td>
								<td>{{invoiceReport.amount}}</td>
								<td>{{invoiceReport.currency}}</td>
								<td class="hidden-xs">{{invoiceReport.invoiceStatus}}</td>
								<td class="hidden-xs">{{invoiceReport.paymentRefNo}}</td>
								<td>{{invoiceReport.payType}}</td>
								<td>{{invoiceReport.payMode}}</td>
								<td class="hidden-xs">{{invoiceReport.payMethod}}</td>
								<td class="hidden-xs">{{invoiceReport.payStatus}}</td>
							</tr>
						</tbody>
					</table>
					<ul class="pagination" style="float:right;">
						<li ng-class="(reportsResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="loadReportPage(reportsResp.page-1)" href="#">Previous</a></li>
						<li ng-repeat="page in reportsResp.allPages" ng-class="(page == reportsResp.page)?'active':''"><a ng-click="loadReportPage(page)" href="#">{{page}}</a></li>
						<li ng-class="(reportsResp.page >= reportsResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="loadReportPage(reportsResp.page+1)" href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>