<div ng-controller="UsersController" ng-init="fetchMyUsers()">
	<br>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-9">
			<button title="Create User" type="button" class="btn btn-info btn-circle btn-lg" data-toggle="modal" data-target="#createUserModal">
				<i class="fa fa-plus"></i>
			</button>
		</div>
	</div>
	<br>
	<div class="row text-center">
		<div class="col-md-10 col-md-offset-1">
			<h4>My Users</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<td class="text-center"><strong>Name</strong></td>
						<td class="text-center"><strong>Email</strong></td>
						<td class="text-center"><strong>Mobile</strong></td>
						<td class="text-center"><strong>Role</strong></td>
						<td class="text-center"><strong>Created By</strong></td>
						<td class="text-center"><strong>Actions</strong></td>
					</tr>
				</thead>
				<tbody id="itemBody">
					<tr ng-class="(myuser.active)?'success':'danger'" ng-repeat="myuser in myusers" title="{{myusers.active}}">
						<td>{{myuser.name}}</td>
						<td>{{myuser.email}}</td>
						<td>{{myuser.mobile}}</td>
						<td>{{myuser.userType}}</td>
						<td>{{myuser.createdBy}}</td>
						<td>
							<button title="DEACTIVATE" ng-if="myuser.active" ng-click="toggleUser(myuser.id)" type="button" class="btn btn-danger btn-xs">
								<i class="fa fa-minus"></i>
							</button>
							<button title="ACTIVATE" ng-if="!myuser.active" ng-click="toggleUser(myuser.id)" type="button" class="btn btn-success btn-xs">
								<i class="fa fa-check"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>