<html>
<head>
    <title>PayCr</title>
    <link href="${staticUrl}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="${staticUrl}/dist/css/sb-admin-2.css" rel="stylesheet">
    <script src="${staticUrl}/vendor/jquery/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<br>
			<div class="col-xs-8">
				<h1>Invoice # ${invoice.invoiceCode}</h1>
			</div>
			<div class="col-xs-4 text-right">
				<br>
				<div><strong>Pay By</strong></div>
				<div>${invoice.expiry}</div>
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-6">
						<div>Billed From:</div>
						<div><strong>${invoice.merchant.name}</strong></div>
						<div>${invoice.merchant.email}</div>
						<div>${invoice.merchant.mobile}</div>
					</div>
					<#if invoice.merchant.address??>
					<div class="col-xs-6">
						<div>${invoice.merchant.address.addressLine1}</div>
						<div>${invoice.merchant.address.addressLine2}</div>
						<div>${invoice.merchant.address.city}, ${invoice.merchant.address.district}</div>
						<div>${invoice.merchant.address.state} - ${invoice.merchant.address.pincode}</div>
						<div>${invoice.merchant.address.country}</div>
					</div>
					</#if>
					<div class="col-xs-12">
						<hr>
					</div>
				</div>
				<#if invoice.consumer??>
				<div class="row">
					<div class="col-xs-6">
						<div>Billed To:</div>
						<div><strong>${invoice.consumer.name}</strong></div>
						<div>${invoice.consumer.email}</div>
						<div>${invoice.consumer.mobile}</div>
					</div>
				</div>
				</#if>
			</div>
			<div class="col-xs-4">
				<div class="panel">
					<div class="panel-body">
						<table class="table table-bordered table-responsive">
							<thead>
								<tr>
				                    <th class="text-center">Param</td>
				                    <th class="text-center">Value</td>
				                </tr>
							</thead>
							<tbody>
								<#list invoice.customParams as param>
			                    <tr id="itemRow">
			                        <td class="text-center">${param.paramName}</td>
			                        <td class="text-center">${param.paramValue}</td>
			                    </tr>
			                    </#list>
		                    </tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel">
					<div class="panel-heading">
						<h5>Item Details</h5>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-responsive">
							<thead>
								<tr>
				                    <th class="text-center">Item</td>
				                    <th class="text-center">Rate</td>
				                    <th class="text-center">Quantity</td>
				                    <th class="text-right">Price</td>
				                </tr>
							</thead>
							<tbody>
								<#list invoice.items as item>
				                <tr>
				                    <td class="text-center">${item.inventory.name}</td>
				                    <td class="text-center"><i class="fa fa-rupee"></i> ${item.inventory.rate}</td>
				                    <td class="text-center">${item.quantity}</td>
				                    <td class="text-right"><i class="fa fa-rupee"></i> ${item.price}</td>
				                </tr>
				                </#list>
				                <tr>
				                    <td class="text-center"></td>
				                    <td class="text-center"></td>
				                    <td class="text-center">Total</td>
				                    <td class="text-right"><i class="fa fa-rupee"></i> ${invoice.total}</td>
				                </tr>
				                <tr>
				                    <td class="text-center"></td>
				                    <td class="text-center"></td>
				                    <td class="text-center">Tax(${invoice.taxName})</td>
				                    <td class="text-right">${invoice.taxValue}%</td>
				                </tr>
				                <tr>
				                    <td class="text-center"></td>
				                    <td class="text-center"></td>
				                    <td class="text-center">Discount</td>
				                    <td class="text-right"><i class="fa fa-rupee"></i> ${invoice.discount}</td>
				                </tr>
				                <tr>
				                    <td class="text-center"></td>
				                    <td class="text-center"></td>
				                    <td class="text-center"><strong>Pay Amount</strong></td>
				                    <td class="text-right"><strong><i class="fa fa-rupee"></i> ${invoice.payAmount}</strong></td>
				                </tr>
			                </tbody>
		                </table>
	                </div>
                </div>
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
		</div>
	</div>
    <script src="${staticUrl}/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>