<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
	<script src="/angular/adminctrl.js"></script>
</head>
<body ng-app="payCrAdminApp" ng-controller="AdminController" style="background:lightyellow;" ng-cloak>
    <div ng-init="prepare()" id="wrapper">
        <div ng-include="'/html/admin/nav'" style="position:relative;"></div>
        <div class="tab-content" id="page-wrapper">
    		<div ng-include="'/html/common/alert'"></div>
            <div ng-init="searchMerchant()" id="merchantsTab" class="tab-pane active" ng-include="'/html/admin/merchantTab'"></div>
        	<div ng-init="searchInvoice()" id="invoiceTab" class="tab-pane fade" ng-include="'/html/admin/invoiceTab'"></div>
        	<div ng-init="fetchMyInvoices()" id="myInvoicesTab" class="tab-pane fade" ng-include="'/html/common/myInvoicesTab'"></div>
        	<div ng-if="roles.indexOf('ROLE_ADMIN') > -1" ng-init="fetchPricings()" id="pricingTab" class="tab-pane fade" ng-include="'/html/admin/pricingTab'"></div>
	        <div ng-if="roles.indexOf('ROLE_ADMIN') > -1" ng-init="fetchSubsModes()" id="subscriptionSettingTab" class="tab-pane fade" ng-include="'/html/admin/subscriptionSettingTab'"></div>
		    <div ng-if="roles.indexOf('ROLE_ADMIN') > -1" ng-init="fetchMyUsers()" id="usersTab" class="tab-pane fade" ng-include="'/html/common/usersTab'"></div>
    	</div>
	    <div ng-include="'/html/admin/createMerchantModal'"></div>
		<div ng-include="'/html/admin/createPricingModal'"></div>
		<div ng-include="'/html/admin/addSubsModeModal'"></div>
		<div ng-include="'/html/admin/createOfflineSubsModal'"></div>
		<div ng-include="'/html/common/createUserModal'"></div>
		<div ng-include="'/html/common/invoiceInfoModal'"></div>
		<div ng-include="'/html/admin/subsDetailsModal'"></div>
	</div>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="/dist/js/sb-admin-2.js"></script>
</body>
</html>
