<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script src="/angular/adminctrl.js"></script>
</head>
<body ng-app="payCrAdminApp" ng-controller="AdminController" ng-cloak>
    <div ng-init="prepare()" style="background:lightyellow;" id="wrapper">
        <div ng-include="'/html/admin/nav'" style="position:relative;"></div>
        <div class="tab-content" id="page-wrapper">
    		<div ng-include="'/html/common/alert'"></div>
            <div ng-init="searchMerchant(1)" id="merchantsTab" class="tab-pane active" ng-include="'/html/admin/merchantTab'"></div>
        	<div ng-init="searchInvoice(1)" id="invoiceTab" class="tab-pane fade" ng-include="'/html/admin/invoiceTab'"></div>
        	<div ng-init="fetchMyInvoices()" id="myInvoicesTab" class="tab-pane fade" ng-include="'/html/common/myInvoicesTab'"></div>
        	<div ng-if="user.access.supervisor" ng-init="fetchPriceSettings()" id="pricingTab" class="tab-pane fade" ng-include="'/html/admin/pricingTab'"></div>
		    <div ng-if="user.access.ops" ng-init="fetchReports()" id="reportsTab" class="tab-pane fade" ng-include="'/html/common/reportsTab'"></div>
		    <div ng-if="user.access.supervisor" ng-init="fetchMyUsers()" id="usersTab" class="tab-pane fade" ng-include="'/html/common/usersTab'"></div>
    	</div>
	    <div ng-if="user.access.supervisor" ng-include="'/html/admin/createMerchantModal'"></div>
		<div ng-if="user.access.finance" ng-include="'/html/admin/createPricingModal'"></div>
		<div ng-if="user.access.finance" ng-include="'/html/admin/addSubsModeModal'"></div>
		<div ng-if="user.access.supervisor" ng-include="'/html/admin/createOfflineSubsModal'"></div>
		<div ng-if="user.access.supervisor" ng-include="'/html/common/createUserModal'"></div>
		<div ng-include="'/html/common/invoiceInfoModal'"></div>
		<div ng-include="'/html/admin/subsDetailsModal'"></div>
		<div ng-include="'/html/common/profileModal'"></div>
	</div>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="/dist/js/sb-admin-2.js"></script>
    <script src="/js/moment.js"></script>
</body>
</html>
